<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomNodeOptMapper">
  <resultMap id="BaseResultMap" type="com.platon.browser.dto.CustomNodeOpt" extends="com.platon.browser.dao.mapper.NodeOptMapper.BaseResultMap"/>
  <select id="selectByNodeId" resultMap="BaseResultMap">
    select
    <include refid="com.platon.browser.dao.mapper.NodeOptMapper.Base_Column_List" />
    from node_opt where node_id = #{nodeId}
  </select>

  <select id="selectByNodeIdList" resultMap="BaseResultMap">
    select
    <include refid="com.platon.browser.dao.mapper.NodeOptMapper.Base_Column_List" />
    from node_opt where node_id IN (<foreach collection="nodeIdList" item="item" separator=",">#{item,jdbcType=VARCHAR}</foreach>)
  </select>

  <select id="selectByTxHash" resultMap="BaseResultMap">
    select
    <include refid="com.platon.browser.dao.mapper.NodeOptMapper.Base_Column_List" />
    from node_opt where tx_hash = #{txHash}
  </select>

  <select id="selectByTxHashList" resultMap="BaseResultMap">
    select
    <include refid="com.platon.browser.dao.mapper.NodeOptMapper.Base_Column_List" />
    from node_opt where tx_hash IN (<foreach collection="txHashList" item="item" separator=",">#{item,jdbcType=VARCHAR}</foreach>)
  </select>

  <!--批量选择性插入或更新-->
  <insert id="batchInsertOrUpdateSelective" parameterType="map">
    replace into node_opt (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id'.toString() == column.value">
          #{item.id,jdbcType=BIGINT}
        </if>
        <if test="'node_id'.toString() == column.value">
          #{item.nodeId,jdbcType=VARCHAR}
        </if>
        <if test="'type'.toString() == column.value">
          #{item.type,jdbcType=VARCHAR}
        </if>
        <if test="'tx_hash'.toString() == column.value">
          #{item.txHash,jdbcType=VARCHAR}
        </if>
        <if test="'block_number'.toString() == column.value">
          #{item.blockNumber,jdbcType=BIGINT}
        </if>
        <if test="'timestamp'.toString() == column.value">
          #{item.timestamp,jdbcType=TIMESTAMP}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'desc'.toString() == column.value">
          #{item.desc,jdbcType=VARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>
