<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomBlockMapper">
  <select id="selectMaxBlockNumber" resultType="Long">
    select max(`number`) from block;
  </select>
  <insert id="batchInsertOrUpdateSelective" parameterType="map">
    replace into block (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'number'.toString() == column.value">
          #{item.number,jdbcType=BIGINT}
        </if>
        <if test="'hash'.toString() == column.value">
          #{item.hash,jdbcType=VARCHAR}
        </if>
        <if test="'parent_hash'.toString() == column.value">
          #{item.parentHash,jdbcType=VARCHAR}
        </if>
        <if test="'timestamp'.toString() == column.value">
          #{item.timestamp,jdbcType=TIMESTAMP}
        </if>
        <if test="'size'.toString() == column.value">
          #{item.size,jdbcType=INTEGER}
        </if>
        <if test="'gas_limit'.toString() == column.value">
          #{item.gasLimit,jdbcType=VARCHAR}
        </if>
        <if test="'gas_used'.toString() == column.value">
          #{item.gasUsed,jdbcType=VARCHAR}
        </if>
        <if test="'stat_tx_qty'.toString() == column.value">
          #{item.statTxQty,jdbcType=INTEGER}
        </if>
        <if test="'stat_transfer_qty'.toString() == column.value">
          #{item.statTransferQty,jdbcType=INTEGER}
        </if>
        <if test="'stat_staking_qty'.toString() == column.value">
          #{item.statStakingQty,jdbcType=INTEGER}
        </if>
        <if test="'stat_proposal_qty'.toString() == column.value">
          #{item.statProposalQty,jdbcType=INTEGER}
        </if>
        <if test="'stat_delegate_qty'.toString() == column.value">
          #{item.statDelegateQty,jdbcType=INTEGER}
        </if>
        <if test="'stat_tx_gas_limit'.toString() == column.value">
          #{item.statTxGasLimit,jdbcType=VARCHAR}
        </if>
        <if test="'stat_tx_fee'.toString() == column.value">
          #{item.statTxFee,jdbcType=VARCHAR}
        </if>
        <if test="'node_name'.toString() == column.value">
          #{item.nodeName,jdbcType=VARCHAR}
        </if>
        <if test="'node_id'.toString() == column.value">
          #{item.nodeId,jdbcType=VARCHAR}
        </if>
        <if test="'block_reward'.toString() == column.value">
          #{item.blockReward,jdbcType=VARCHAR}
        </if>
        <if test="'miner'.toString() == column.value">
          #{item.miner,jdbcType=VARCHAR}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'extra_data'.toString() == column.value">
          #{item.extraData,jdbcType=LONGVARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>
