<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomTransactionMapper">
  <insert id="batchInsertOrUpdateSelective" parameterType="map">
    replace into transaction (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'hash'.toString() == column.value">
          #{item.hash,jdbcType=VARCHAR}
        </if>
        <if test="'block_number'.toString() == column.value">
          #{item.blockNumber,jdbcType=BIGINT}
        </if>
        <if test="'block_hash'.toString() == column.value">
          #{item.blockHash,jdbcType=VARCHAR}
        </if>
        <if test="'transaction_index'.toString() == column.value">
          #{item.transactionIndex,jdbcType=INTEGER}
        </if>
        <if test="'timestamp'.toString() == column.value">
          #{item.timestamp,jdbcType=TIMESTAMP}
        </if>
        <if test="'nonce'.toString() == column.value">
          #{item.nonce,jdbcType=VARCHAR}
        </if>
        <if test="'tx_receipt_status'.toString() == column.value">
          #{item.txReceiptStatus,jdbcType=INTEGER}
        </if>
        <if test="'gas_price'.toString() == column.value">
          #{item.gasPrice,jdbcType=VARCHAR}
        </if>
        <if test="'gas_used'.toString() == column.value">
          #{item.gasUsed,jdbcType=VARCHAR}
        </if>
        <if test="'gas_limit'.toString() == column.value">
          #{item.gasLimit,jdbcType=VARCHAR}
        </if>
        <if test="'from'.toString() == column.value">
          #{item.from,jdbcType=VARCHAR}
        </if>
        <if test="'to'.toString() == column.value">
          #{item.to,jdbcType=VARCHAR}
        </if>
        <if test="'value'.toString() == column.value">
          #{item.value,jdbcType=VARCHAR}
        </if>
        <if test="'tx_type'.toString() == column.value">
          #{item.txType,jdbcType=VARCHAR}
        </if>
        <if test="'actual_tx_cost'.toString() == column.value">
          #{item.actualTxCost,jdbcType=VARCHAR}
        </if>
        <if test="'receive_type'.toString() == column.value">
          #{item.receiveType,jdbcType=VARCHAR}
        </if>
        <if test="'sequence'.toString() == column.value">
          #{item.sequence,jdbcType=BIGINT}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'input'.toString() == column.value">
          #{item.input,jdbcType=LONGVARCHAR}
        </if>
        <if test="'tx_info'.toString() == column.value">
          #{item.txInfo,jdbcType=LONGVARCHAR}
        </if>
        <if test="'fail_reason'.toString() == column.value">
          #{item.failReason,jdbcType=LONGVARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>