# ***************************开发配置**************************** #
# 当前激活的配置名称(请不要修改)
profile: alaya
# 密码加密配置
jasypt:
  encryptor:
    password: ${JASYPT_ENCRYPTOR_PASSWORD:}
#Spring框架内部配置
spring:
  #数据源配置
  datasource:
    url: jdbc:mysql://192.168.9.191:3306/alaya_browser_hrpatp201018v10000?useSSL=false&useTimezone=true&serverTimezone=GMT%2B8&allowMultiQueries=true
    username: ENC(bpshgjWOgn2d+oGmSTBPNA==)
    password: ENC(bpshgjWOgn2d+oGmSTBPNA==)
#PlatOn相关配置
platon:
  addressPrefix: atp
  valueUnit: LAT
  #链id
  chainId: 201018
  # Web3j访问地址
  web3j:
    #HTTP或WS
    protocol: WS
    addresses: 192.168.112.141:7789,192.168.112.141:7790
task:
  #允许更新的最大地址数量
  maxAddressCount: 5004
  #每次批量查询锁仓余额的最大数量
  maxBatchSize: 100
  #基金会地址统计cron表达式：
  #    生产：每10分钟执行一次：0 0/10 * * * ?
  #    测试：每10秒钟执行一次：0/10 * * * * ?
  fundAddressCron: 0/10 * * * * ?
  #内置合约地址统计cron表达式：
  #    生产：每1分钟执行一次：0 0/1 * * * ?
  #    测试：每5秒钟执行一次：0/5 * * * * ?
  innerContractCron: 0/5 * * * * ?
#日志配置
logging:
  #日志级别
  level:
    org.springframework: error
    com.platon.browser.task: debug
  file:
    name: ./logs/${spring.application.name}-${version}-${profile}.log
