# 这个端口，配合com.platon.browser.JobApplication的@ServletComponentScan注解
# 可以让scan-job启动后，可以通过http://ip:90020来访问druid的内置监控服务
server:
  port: 90020
#日志配置
logging:
  file:
    name: ./logs/scan-job.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %thread | trace-id[%X{trace-id}] | %logger{50}[%L] | %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %thread | trace-id[%X{trace-id}] | %logger{50}[%L] | %msg%n"
  logback:
    rollingpolicy:
      # 日志文件大小上限，达到该上限后，会自动压缩
      max-file-size: 200MB
      # 日志归档的文件名，日志文件达到一定大小之后，自动进行压缩归档
      file-name-pattern: ./logs/scan-job-%d{yyyy-MM-dd}-%i.log.gz
      # 日志文件保存的天数
      max-history: 90
      # 是否在应用启动时进行归档管理
      clean-history-on-start: true
spring:
  profiles:
    active: apollo
# 密码加密配置
jasypt:
  encryptor:
    password: ${JASYPT_ENCRYPTOR_PASSWORD:}
