<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.BlockMapper">
  <resultMap id="BaseResultMap" type="com.platon.browser.dao.entity.Block">
    <id column="hash" jdbcType="VARCHAR" property="hash" />
    <id column="number" jdbcType="BIGINT" property="number" />
    <id column="chain_id" jdbcType="VARCHAR" property="chainId" />
    <result column="parent_hash" jdbcType="VARCHAR" property="parentHash" />
    <result column="nonce" jdbcType="VARCHAR" property="nonce" />
    <result column="miner" jdbcType="VARCHAR" property="miner" />
    <result column="extra_data" jdbcType="VARCHAR" property="extraData" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="energon_used" jdbcType="VARCHAR" property="energonUsed" />
    <result column="energon_limit" jdbcType="VARCHAR" property="energonLimit" />
    <result column="energon_average" jdbcType="VARCHAR" property="energonAverage" />
    <result column="transaction_number" jdbcType="INTEGER" property="transactionNumber" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="block_reward" jdbcType="VARCHAR" property="blockReward" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="actual_tx_cost_sum" jdbcType="VARCHAR" property="actualTxCostSum" />
    <result column="block_vote_amount" jdbcType="BIGINT" property="blockVoteAmount" />
    <result column="block_vote_number" jdbcType="BIGINT" property="blockVoteNumber" />
    <result column="block_campaign_amount" jdbcType="BIGINT" property="blockCampaignAmount" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="vote_hash" jdbcType="VARCHAR" property="voteHash" />
    <result column="reward_ratio" jdbcType="DOUBLE" property="rewardRatio" />
    <result column="vote_price" jdbcType="VARCHAR" property="votePrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hash, `number`, chain_id, parent_hash, nonce, miner, extra_data, `size`, energon_used, 
    energon_limit, energon_average, transaction_number, `timestamp`, block_reward, create_time, 
    update_time, actual_tx_cost_sum, block_vote_amount, block_vote_number, block_campaign_amount, 
    node_name, node_id, vote_hash, reward_ratio, vote_price
  </sql>
  <select id="selectByExample" parameterType="com.platon.browser.dao.entity.BlockExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from block
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.platon.browser.dao.entity.BlockKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from block
    where hash = #{hash,jdbcType=VARCHAR}
      and `number` = #{number,jdbcType=BIGINT}
      and chain_id = #{chainId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.platon.browser.dao.entity.BlockKey">
    delete from block
    where hash = #{hash,jdbcType=VARCHAR}
      and `number` = #{number,jdbcType=BIGINT}
      and chain_id = #{chainId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.platon.browser.dao.entity.BlockExample">
    delete from block
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platon.browser.dao.entity.Block">
    insert into block (hash, `number`, chain_id, 
      parent_hash, nonce, miner, 
      extra_data, `size`, energon_used, 
      energon_limit, energon_average, transaction_number, 
      `timestamp`, block_reward, create_time, 
      update_time, actual_tx_cost_sum, block_vote_amount, 
      block_vote_number, block_campaign_amount, node_name, 
      node_id, vote_hash, reward_ratio, 
      vote_price)
    values (#{hash,jdbcType=VARCHAR}, #{number,jdbcType=BIGINT}, #{chainId,jdbcType=VARCHAR}, 
      #{parentHash,jdbcType=VARCHAR}, #{nonce,jdbcType=VARCHAR}, #{miner,jdbcType=VARCHAR}, 
      #{extraData,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, #{energonUsed,jdbcType=VARCHAR}, 
      #{energonLimit,jdbcType=VARCHAR}, #{energonAverage,jdbcType=VARCHAR}, #{transactionNumber,jdbcType=INTEGER}, 
      #{timestamp,jdbcType=TIMESTAMP}, #{blockReward,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{actualTxCostSum,jdbcType=VARCHAR}, #{blockVoteAmount,jdbcType=BIGINT}, 
      #{blockVoteNumber,jdbcType=BIGINT}, #{blockCampaignAmount,jdbcType=BIGINT}, #{nodeName,jdbcType=VARCHAR}, 
      #{nodeId,jdbcType=VARCHAR}, #{voteHash,jdbcType=VARCHAR}, #{rewardRatio,jdbcType=DOUBLE}, 
      #{votePrice,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.platon.browser.dao.entity.Block">
    insert into block
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hash != null">
        hash,
      </if>
      <if test="number != null">
        `number`,
      </if>
      <if test="chainId != null">
        chain_id,
      </if>
      <if test="parentHash != null">
        parent_hash,
      </if>
      <if test="nonce != null">
        nonce,
      </if>
      <if test="miner != null">
        miner,
      </if>
      <if test="extraData != null">
        extra_data,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="energonUsed != null">
        energon_used,
      </if>
      <if test="energonLimit != null">
        energon_limit,
      </if>
      <if test="energonAverage != null">
        energon_average,
      </if>
      <if test="transactionNumber != null">
        transaction_number,
      </if>
      <if test="timestamp != null">
        `timestamp`,
      </if>
      <if test="blockReward != null">
        block_reward,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="actualTxCostSum != null">
        actual_tx_cost_sum,
      </if>
      <if test="blockVoteAmount != null">
        block_vote_amount,
      </if>
      <if test="blockVoteNumber != null">
        block_vote_number,
      </if>
      <if test="blockCampaignAmount != null">
        block_campaign_amount,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="voteHash != null">
        vote_hash,
      </if>
      <if test="rewardRatio != null">
        reward_ratio,
      </if>
      <if test="votePrice != null">
        vote_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hash != null">
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=BIGINT},
      </if>
      <if test="chainId != null">
        #{chainId,jdbcType=VARCHAR},
      </if>
      <if test="parentHash != null">
        #{parentHash,jdbcType=VARCHAR},
      </if>
      <if test="nonce != null">
        #{nonce,jdbcType=VARCHAR},
      </if>
      <if test="miner != null">
        #{miner,jdbcType=VARCHAR},
      </if>
      <if test="extraData != null">
        #{extraData,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="energonUsed != null">
        #{energonUsed,jdbcType=VARCHAR},
      </if>
      <if test="energonLimit != null">
        #{energonLimit,jdbcType=VARCHAR},
      </if>
      <if test="energonAverage != null">
        #{energonAverage,jdbcType=VARCHAR},
      </if>
      <if test="transactionNumber != null">
        #{transactionNumber,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="blockReward != null">
        #{blockReward,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualTxCostSum != null">
        #{actualTxCostSum,jdbcType=VARCHAR},
      </if>
      <if test="blockVoteAmount != null">
        #{blockVoteAmount,jdbcType=BIGINT},
      </if>
      <if test="blockVoteNumber != null">
        #{blockVoteNumber,jdbcType=BIGINT},
      </if>
      <if test="blockCampaignAmount != null">
        #{blockCampaignAmount,jdbcType=BIGINT},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="voteHash != null">
        #{voteHash,jdbcType=VARCHAR},
      </if>
      <if test="rewardRatio != null">
        #{rewardRatio,jdbcType=DOUBLE},
      </if>
      <if test="votePrice != null">
        #{votePrice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platon.browser.dao.entity.BlockExample" resultType="java.lang.Long">
    select count(*) from block
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update block
    <set>
      <if test="record.hash != null">
        hash = #{record.hash,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null">
        `number` = #{record.number,jdbcType=BIGINT},
      </if>
      <if test="record.chainId != null">
        chain_id = #{record.chainId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentHash != null">
        parent_hash = #{record.parentHash,jdbcType=VARCHAR},
      </if>
      <if test="record.nonce != null">
        nonce = #{record.nonce,jdbcType=VARCHAR},
      </if>
      <if test="record.miner != null">
        miner = #{record.miner,jdbcType=VARCHAR},
      </if>
      <if test="record.extraData != null">
        extra_data = #{record.extraData,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        `size` = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.energonUsed != null">
        energon_used = #{record.energonUsed,jdbcType=VARCHAR},
      </if>
      <if test="record.energonLimit != null">
        energon_limit = #{record.energonLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.energonAverage != null">
        energon_average = #{record.energonAverage,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionNumber != null">
        transaction_number = #{record.transactionNumber,jdbcType=INTEGER},
      </if>
      <if test="record.timestamp != null">
        `timestamp` = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.blockReward != null">
        block_reward = #{record.blockReward,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actualTxCostSum != null">
        actual_tx_cost_sum = #{record.actualTxCostSum,jdbcType=VARCHAR},
      </if>
      <if test="record.blockVoteAmount != null">
        block_vote_amount = #{record.blockVoteAmount,jdbcType=BIGINT},
      </if>
      <if test="record.blockVoteNumber != null">
        block_vote_number = #{record.blockVoteNumber,jdbcType=BIGINT},
      </if>
      <if test="record.blockCampaignAmount != null">
        block_campaign_amount = #{record.blockCampaignAmount,jdbcType=BIGINT},
      </if>
      <if test="record.nodeName != null">
        node_name = #{record.nodeName,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeId != null">
        node_id = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.voteHash != null">
        vote_hash = #{record.voteHash,jdbcType=VARCHAR},
      </if>
      <if test="record.rewardRatio != null">
        reward_ratio = #{record.rewardRatio,jdbcType=DOUBLE},
      </if>
      <if test="record.votePrice != null">
        vote_price = #{record.votePrice,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update block
    set hash = #{record.hash,jdbcType=VARCHAR},
      `number` = #{record.number,jdbcType=BIGINT},
      chain_id = #{record.chainId,jdbcType=VARCHAR},
      parent_hash = #{record.parentHash,jdbcType=VARCHAR},
      nonce = #{record.nonce,jdbcType=VARCHAR},
      miner = #{record.miner,jdbcType=VARCHAR},
      extra_data = #{record.extraData,jdbcType=VARCHAR},
      `size` = #{record.size,jdbcType=INTEGER},
      energon_used = #{record.energonUsed,jdbcType=VARCHAR},
      energon_limit = #{record.energonLimit,jdbcType=VARCHAR},
      energon_average = #{record.energonAverage,jdbcType=VARCHAR},
      transaction_number = #{record.transactionNumber,jdbcType=INTEGER},
      `timestamp` = #{record.timestamp,jdbcType=TIMESTAMP},
      block_reward = #{record.blockReward,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      actual_tx_cost_sum = #{record.actualTxCostSum,jdbcType=VARCHAR},
      block_vote_amount = #{record.blockVoteAmount,jdbcType=BIGINT},
      block_vote_number = #{record.blockVoteNumber,jdbcType=BIGINT},
      block_campaign_amount = #{record.blockCampaignAmount,jdbcType=BIGINT},
      node_name = #{record.nodeName,jdbcType=VARCHAR},
      node_id = #{record.nodeId,jdbcType=VARCHAR},
      vote_hash = #{record.voteHash,jdbcType=VARCHAR},
      reward_ratio = #{record.rewardRatio,jdbcType=DOUBLE},
      vote_price = #{record.votePrice,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.browser.dao.entity.Block">
    update block
    <set>
      <if test="parentHash != null">
        parent_hash = #{parentHash,jdbcType=VARCHAR},
      </if>
      <if test="nonce != null">
        nonce = #{nonce,jdbcType=VARCHAR},
      </if>
      <if test="miner != null">
        miner = #{miner,jdbcType=VARCHAR},
      </if>
      <if test="extraData != null">
        extra_data = #{extraData,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=INTEGER},
      </if>
      <if test="energonUsed != null">
        energon_used = #{energonUsed,jdbcType=VARCHAR},
      </if>
      <if test="energonLimit != null">
        energon_limit = #{energonLimit,jdbcType=VARCHAR},
      </if>
      <if test="energonAverage != null">
        energon_average = #{energonAverage,jdbcType=VARCHAR},
      </if>
      <if test="transactionNumber != null">
        transaction_number = #{transactionNumber,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null">
        `timestamp` = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="blockReward != null">
        block_reward = #{blockReward,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualTxCostSum != null">
        actual_tx_cost_sum = #{actualTxCostSum,jdbcType=VARCHAR},
      </if>
      <if test="blockVoteAmount != null">
        block_vote_amount = #{blockVoteAmount,jdbcType=BIGINT},
      </if>
      <if test="blockVoteNumber != null">
        block_vote_number = #{blockVoteNumber,jdbcType=BIGINT},
      </if>
      <if test="blockCampaignAmount != null">
        block_campaign_amount = #{blockCampaignAmount,jdbcType=BIGINT},
      </if>
      <if test="nodeName != null">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="voteHash != null">
        vote_hash = #{voteHash,jdbcType=VARCHAR},
      </if>
      <if test="rewardRatio != null">
        reward_ratio = #{rewardRatio,jdbcType=DOUBLE},
      </if>
      <if test="votePrice != null">
        vote_price = #{votePrice,jdbcType=VARCHAR},
      </if>
    </set>
    where hash = #{hash,jdbcType=VARCHAR}
      and `number` = #{number,jdbcType=BIGINT}
      and chain_id = #{chainId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.browser.dao.entity.Block">
    update block
    set parent_hash = #{parentHash,jdbcType=VARCHAR},
      nonce = #{nonce,jdbcType=VARCHAR},
      miner = #{miner,jdbcType=VARCHAR},
      extra_data = #{extraData,jdbcType=VARCHAR},
      `size` = #{size,jdbcType=INTEGER},
      energon_used = #{energonUsed,jdbcType=VARCHAR},
      energon_limit = #{energonLimit,jdbcType=VARCHAR},
      energon_average = #{energonAverage,jdbcType=VARCHAR},
      transaction_number = #{transactionNumber,jdbcType=INTEGER},
      `timestamp` = #{timestamp,jdbcType=TIMESTAMP},
      block_reward = #{blockReward,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      actual_tx_cost_sum = #{actualTxCostSum,jdbcType=VARCHAR},
      block_vote_amount = #{blockVoteAmount,jdbcType=BIGINT},
      block_vote_number = #{blockVoteNumber,jdbcType=BIGINT},
      block_campaign_amount = #{blockCampaignAmount,jdbcType=BIGINT},
      node_name = #{nodeName,jdbcType=VARCHAR},
      node_id = #{nodeId,jdbcType=VARCHAR},
      vote_hash = #{voteHash,jdbcType=VARCHAR},
      reward_ratio = #{rewardRatio,jdbcType=DOUBLE},
      vote_price = #{votePrice,jdbcType=VARCHAR}
    where hash = #{hash,jdbcType=VARCHAR}
      and `number` = #{number,jdbcType=BIGINT}
      and chain_id = #{chainId,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into block
    (hash, `number`, chain_id, parent_hash, nonce, miner, extra_data, `size`, energon_used, 
      energon_limit, energon_average, transaction_number, `timestamp`, block_reward, 
      create_time, update_time, actual_tx_cost_sum, block_vote_amount, block_vote_number, 
      block_campaign_amount, node_name, node_id, vote_hash, reward_ratio, vote_price)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.hash,jdbcType=VARCHAR}, #{item.number,jdbcType=BIGINT}, #{item.chainId,jdbcType=VARCHAR}, 
        #{item.parentHash,jdbcType=VARCHAR}, #{item.nonce,jdbcType=VARCHAR}, #{item.miner,jdbcType=VARCHAR}, 
        #{item.extraData,jdbcType=VARCHAR}, #{item.size,jdbcType=INTEGER}, #{item.energonUsed,jdbcType=VARCHAR}, 
        #{item.energonLimit,jdbcType=VARCHAR}, #{item.energonAverage,jdbcType=VARCHAR}, 
        #{item.transactionNumber,jdbcType=INTEGER}, #{item.timestamp,jdbcType=TIMESTAMP}, 
        #{item.blockReward,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.actualTxCostSum,jdbcType=VARCHAR}, #{item.blockVoteAmount,jdbcType=BIGINT}, 
        #{item.blockVoteNumber,jdbcType=BIGINT}, #{item.blockCampaignAmount,jdbcType=BIGINT}, 
        #{item.nodeName,jdbcType=VARCHAR}, #{item.nodeId,jdbcType=VARCHAR}, #{item.voteHash,jdbcType=VARCHAR}, 
        #{item.rewardRatio,jdbcType=DOUBLE}, #{item.votePrice,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into block (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'hash'.toString() == column.value">
          #{item.hash,jdbcType=VARCHAR}
        </if>
        <if test="'number'.toString() == column.value">
          #{item.number,jdbcType=BIGINT}
        </if>
        <if test="'chain_id'.toString() == column.value">
          #{item.chainId,jdbcType=VARCHAR}
        </if>
        <if test="'parent_hash'.toString() == column.value">
          #{item.parentHash,jdbcType=VARCHAR}
        </if>
        <if test="'nonce'.toString() == column.value">
          #{item.nonce,jdbcType=VARCHAR}
        </if>
        <if test="'miner'.toString() == column.value">
          #{item.miner,jdbcType=VARCHAR}
        </if>
        <if test="'extra_data'.toString() == column.value">
          #{item.extraData,jdbcType=VARCHAR}
        </if>
        <if test="'size'.toString() == column.value">
          #{item.size,jdbcType=INTEGER}
        </if>
        <if test="'energon_used'.toString() == column.value">
          #{item.energonUsed,jdbcType=VARCHAR}
        </if>
        <if test="'energon_limit'.toString() == column.value">
          #{item.energonLimit,jdbcType=VARCHAR}
        </if>
        <if test="'energon_average'.toString() == column.value">
          #{item.energonAverage,jdbcType=VARCHAR}
        </if>
        <if test="'transaction_number'.toString() == column.value">
          #{item.transactionNumber,jdbcType=INTEGER}
        </if>
        <if test="'timestamp'.toString() == column.value">
          #{item.timestamp,jdbcType=TIMESTAMP}
        </if>
        <if test="'block_reward'.toString() == column.value">
          #{item.blockReward,jdbcType=VARCHAR}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'actual_tx_cost_sum'.toString() == column.value">
          #{item.actualTxCostSum,jdbcType=VARCHAR}
        </if>
        <if test="'block_vote_amount'.toString() == column.value">
          #{item.blockVoteAmount,jdbcType=BIGINT}
        </if>
        <if test="'block_vote_number'.toString() == column.value">
          #{item.blockVoteNumber,jdbcType=BIGINT}
        </if>
        <if test="'block_campaign_amount'.toString() == column.value">
          #{item.blockCampaignAmount,jdbcType=BIGINT}
        </if>
        <if test="'node_name'.toString() == column.value">
          #{item.nodeName,jdbcType=VARCHAR}
        </if>
        <if test="'node_id'.toString() == column.value">
          #{item.nodeId,jdbcType=VARCHAR}
        </if>
        <if test="'vote_hash'.toString() == column.value">
          #{item.voteHash,jdbcType=VARCHAR}
        </if>
        <if test="'reward_ratio'.toString() == column.value">
          #{item.rewardRatio,jdbcType=DOUBLE}
        </if>
        <if test="'vote_price'.toString() == column.value">
          #{item.votePrice,jdbcType=VARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>


</mapper>