<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomErc20TokenAddressRelMapper">
    <resultMap id="BaseResultMap" type="com.platon.browser.dao.entity.Erc20TokenAddressRel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="contract" jdbcType="VARCHAR" property="contract"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="symbol" jdbcType="VARCHAR" property="symbol"/>
        <result column="decimal" jdbcType="INTEGER" property="decimal"/>
        <result column="tx_count" jdbcType="INTEGER" property="txCount"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="CustomBaseResultMap" type="com.platon.browser.dto.CustomErc20TokenAddressRel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="contract" jdbcType="VARCHAR" property="contract"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="symbol" jdbcType="VARCHAR" property="symbol"/>
        <result column="decimal" jdbcType="INTEGER" property="decimal"/>
        <result column="tx_count" jdbcType="INTEGER" property="txCount"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="selectExistData" resultMap="BaseResultMap">
        select id,balance,contract,address,tx_count from `erc20_token_address_rel` where (`contract`,`address`) in
        <trim prefix="(" suffix=")">
            <foreach collection="list" item="item" index="index" separator=",">
                <trim prefix="(" suffix=")">
                    #{item.contract,jdbcType=VARCHAR},#{item.address,jdbcType=VARCHAR}
                </trim>
            </foreach>
        </trim>
    </select>
    <select id="selectByAddress" resultMap="CustomBaseResultMap">
        select e.contract,e.address,e.name,e.symbol,e.decimal,t.tx_count from `erc20_token_address_rel` e left join `erc20_token` t on e.contract = t.address
        where e.address = #{address,jdbcType=VARCHAR}
        order by t.tx_count desc
    </select>
    <select id="sumBalanceByContract" resultType="java.math.BigDecimal">
        /*根据Token合约地址汇总金额*/
        SELECT SUM(etar.`balance`) FROM `erc20_token_address_rel` etar WHERE etar.`contract` = #{contractAddress}
    </select>
    <update id="updateAddressData">
        <foreach collection="list" item="item" index="index" separator=";">
            update `erc20_token_address_rel`
            <set>
                `balance` = #{item.balance},
                `tx_count` = #{item.txCount},
                `update_time` = now()
            </set>
            where contract=#{item.contract,jdbcType=VARCHAR} AND address=#{item.address,jdbcType=VARCHAR}
        </foreach>
    </update>
    <update id="updateAddressBalance">
        <foreach collection="list" item="item" index="index" separator=";">
            update `erc20_token_address_rel`
            <set>
                `balance` = #{item.balance},
                `update_time` = now()
            </set>
            where contract=#{item.contract,jdbcType=VARCHAR} AND address=#{item.address,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!-- 查询ID列表 -->
    <select id="listErc20TokenAddressRelIds" parameterType="java.util.Map" resultMap="BaseResultMap">
        select id from erc20_token_address_rel
        where 1=1
        <if test="contract != null">
            and contract=#{contract}
        </if>
        <if test="address != null">
            and address=#{address}
        </if>
        order by id desc limit #{offset}, #{size}
    </select>

    <select id="countByContract" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) total from erc20_token_address_rel
        where contract=#{contract}
    </select>

    <select id="countByAddress" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) total from erc20_token_address_rel
        where address=#{address}
    </select>

    <!-- 根据ID查询 -->
    <select id="listErc20TokenAddressRelByIds" resultMap="BaseResultMap">
        select
        e.id,e.contract,e.address,e.name,e.symbol,e.decimal, e.tx_count, e.balance
        from erc20_token_address_rel e where e.id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>