<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomNodeMapper">

  <resultMap id="BaseResultMap" type="com.platon.browser.dto.CustomNode" extends="com.platon.browser.dao.mapper.NodeMapper.BaseResultMap"/>

  <!--查询所有节点-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="com.platon.browser.dao.mapper.NodeMapper.Base_Column_List" />
    from node
  </select>

  <!--批量选择性插入或更新-->
  <insert id="batchInsertOrUpdateSelective" parameterType="map">
    replace into node (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'node_id'.toString() == column.value">
          #{item.nodeId,jdbcType=VARCHAR}
        </if>
        <if test="'stat_slash_multi_qty'.toString() == column.value">
          #{item.statSlashMultiQty,jdbcType=INTEGER}
        </if>
        <if test="'stat_slash_low_qty'.toString() == column.value">
          #{item.statSlashLowQty,jdbcType=INTEGER}
        </if>
        <if test="'stat_block_qty'.toString() == column.value">
          #{item.statBlockQty,jdbcType=BIGINT}
        </if>
        <if test="'stat_expect_block_qty'.toString() == column.value">
          #{item.statExpectBlockQty,jdbcType=BIGINT}
        </if>
        <if test="'stat_reward_value'.toString() == column.value">
          #{item.statRewardValue,jdbcType=VARCHAR}
        </if>
        <if test="'stat_verifier_time'.toString() == column.value">
          #{item.statVerifierTime,jdbcType=INTEGER}
        </if>
        <if test="'is_recommend'.toString() == column.value">
          #{item.isRecommend,jdbcType=INTEGER}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>
