<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomDelegationMapper">

  <resultMap id="BaseResultMap" type="com.platon.browser.dto.CustomDelegation" extends="com.platon.browser.dao.mapper.DelegationMapper.BaseResultMap"/>
  <resultMap id="AndStakingResultMap" type="com.platon.browser.dao.entity.DelegationStaking">
    <id column="delegate_addr" jdbcType="VARCHAR" property="delegateAddr" />
    <id column="staking_block_num" jdbcType="BIGINT" property="stakingBlockNum" />
    <id column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="delegate_has" jdbcType="VARCHAR" property="delegateHas" />
    <result column="delegate_locked" jdbcType="VARCHAR" property="delegateLocked" />
    <result column="delegate_reduction" jdbcType="VARCHAR" property="delegateReduction" />
    
    <result column="stat_delegate_has" jdbcType="VARCHAR" property="statDelegateHas" />
    <result column="stat_delegate_locked" jdbcType="VARCHAR" property="statDelegateLocked" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="staking_name" jdbcType="VARCHAR" property="stakingName" />
    <result column="stat_delegate_reduction" jdbcType="VARCHAR" property="statDelegateReduction" />
  </resultMap>
  
  <select id="selectByNodeId" resultMap="BaseResultMap">
    select
    <include refid="com.platon.browser.dao.mapper.DelegationMapper.Base_Column_List" />
    from delegation where node_id = #{nodeId}
  </select>

  <select id="selectByNodeIdList" resultMap="BaseResultMap">
    select
    <include refid="com.platon.browser.dao.mapper.DelegationMapper.Base_Column_List" />
    from delegation where node_id IN (<foreach collection="nodeIds" item="item" separator=",">#{item,jdbcType=VARCHAR}</foreach>)
  </select>

  <!--批量选择性插入或更新-->
  <insert id="batchInsertOrUpdateSelective" parameterType="map">
    replace into delegation (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'delegate_addr'.toString() == column.value">
          #{item.delegateAddr,jdbcType=VARCHAR}
        </if>
        <if test="'staking_block_num'.toString() == column.value">
          #{item.stakingBlockNum,jdbcType=BIGINT}
        </if>
        <if test="'node_id'.toString() == column.value">
          #{item.nodeId,jdbcType=VARCHAR}
        </if>
        <if test="'delegate_has'.toString() == column.value">
          #{item.delegateHas,jdbcType=VARCHAR}
        </if>
        <if test="'delegate_locked'.toString() == column.value">
          #{item.delegateLocked,jdbcType=VARCHAR}
        </if>
        <if test="'delegate_reduction'.toString() == column.value">
          #{item.delegateReduction,jdbcType=VARCHAR}
        </if>
        <if test="'is_history'.toString() == column.value">
          #{item.isHistory,jdbcType=INTEGER}
        </if>
        <if test="'sequence'.toString() == column.value">
          #{item.sequence,jdbcType=BIGINT}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
  
  <select id="selectDelegationAndStakingByExample" resultMap="AndStakingResultMap">
  	SELECT 
		t1.delegate_addr,t1.staking_block_num,t1.node_id,t1.delegate_has,t1.delegate_locked,t1.delegate_reduction,
		t2.stat_delegate_has,t2.stat_delegate_locked,t2.status,t2.staking_name
	FROM delegation t1
	LEFT JOIN staking t2 ON t1.node_id=t2.node_id AND t1.staking_block_num=t2.staking_block_num
	<where>
		<if test="delegateAddr != null">
			AND t1.delegate_addr=#{delegateAddr,jdbcType=VARCHAR}
		</if>
		<if test="nodeId != null">
			AND t1.node_id=#{nodeId,jdbcType=VARCHAR}
		</if>
		<if test="stakingBlockNum != null">
			AND t1.staking_block_num=#{stakingBlockNum,jdbcType=BIGINT}
		</if>
	</where>
  </select>
  
  <select id="selectSumDelegateByExample" resultMap="AndStakingResultMap">
	select 
	  	sum(cast(t1.delegate_has as Decimal(30)) + cast(t1.delegate_locked as Decimal(30))) as 'allDelegate',
		sum(case when t2.status=2 then t1.delegate_locked else 0 end) as 'allLockDelegate'
	FROM delegation t1
	LEFT JOIN staking t2 ON t1.node_id=t2.node_id AND t1.staking_block_num=t2.staking_block_num
	<where>
		<if test="nodeId != null">
			AND t1.node_id=#{nodeId,jdbcType=VARCHAR}
		</if>
		<if test="stakingBlockNum != null">
			AND t1.staking_block_num=#{stakingBlockNum,jdbcType=BIGINT}
		</if>
	</where>
  </select>
  
</mapper>
