<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomNodeRankingMapper">
  <insert id="insertOrUpdate" parameterType="com.platon.browser.dao.entity.NodeRanking">
    replace  into node_ranking
    (id, node_id, ip, port, `name`, `type`, intro, address, deposit, org_name, org_website,
    chain_id, join_time, create_time, update_time, reward_ratio, ranking, election_status,
    is_valid, url, begin_number, end_number, block_count, reward_amount, profit_amount,
    block_reward, country_code, `location`, longitude, latitude, avg_time,node_type,
    `count`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.nodeId,jdbcType=VARCHAR}, #{item.ip,jdbcType=VARCHAR},
      #{item.port,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.type,jdbcType=INTEGER},
      #{item.intro,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR}, #{item.deposit,jdbcType=VARCHAR},
      #{item.orgName,jdbcType=VARCHAR}, #{item.orgWebsite,jdbcType=VARCHAR}, #{item.chainId,jdbcType=VARCHAR},
      #{item.joinTime,jdbcType=TIMESTAMP}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP},
      #{item.rewardRatio,jdbcType=DOUBLE}, #{item.ranking,jdbcType=INTEGER}, #{item.electionStatus,jdbcType=INTEGER},
      #{item.isValid,jdbcType=INTEGER}, #{item.url,jdbcType=VARCHAR}, #{item.beginNumber,jdbcType=BIGINT},
      #{item.endNumber,jdbcType=BIGINT}, #{item.blockCount,jdbcType=BIGINT}, #{item.rewardAmount,jdbcType=VARCHAR},
      #{item.profitAmount,jdbcType=VARCHAR}, #{item.blockReward,jdbcType=VARCHAR}, #{item.countryCode,jdbcType=VARCHAR},
      #{item.location,jdbcType=VARCHAR}, #{item.longitude,jdbcType=VARCHAR}, #{item.latitude,jdbcType=VARCHAR},
      #{item.avgTime,jdbcType=DOUBLE},#{item.nodeType,jdbcType=VARCHAR}, #{item.count,jdbcType=BIGINT})
    </foreach>
  </insert>

  <select id="selectByChainIdAndIsValidOrderByRanking" resultType="com.platon.browser.dto.app.node.AppNodeDto">
    SELECT
    node_id AS nodeId,
    ranking,
    `name`,
    country_code AS countryCode,
    deposit,
    reward_ratio AS rewardRatio
    FROM `node_ranking`
    WHERE `chain_id`=#{chainId} AND is_valid=#{isValid}
    ORDER BY ranking ASC
  </select>

</mapper>
