<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.VoteTxMapper">
  <resultMap id="BaseResultMap" type="com.platon.browser.dao.entity.VoteTx">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="vaild_count" jdbcType="BIGINT" property="vaildCount" />
    <result column="totals" jdbcType="BIGINT" property="totals" />
    <result column="dead_line" jdbcType="TIMESTAMP" property="deadLine" />
    <result column="hash" jdbcType="VARCHAR" property="hash" />
    <result column="complete_flag" jdbcType="VARCHAR" property="completeFlag" />
    <result column="price" jdbcType="VARCHAR" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, vaild_count, totals, dead_line, hash, complete_flag, price
  </sql>
  <select id="selectByExample" parameterType="com.platon.browser.dao.entity.VoteTxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vote_tx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vote_tx
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from vote_tx
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.platon.browser.dao.entity.VoteTxExample">
    delete from vote_tx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platon.browser.dao.entity.VoteTx">
    insert into vote_tx (id, vaild_count, totals, 
      dead_line, hash, complete_flag, 
      price)
    values (#{id,jdbcType=BIGINT}, #{vaildCount,jdbcType=BIGINT}, #{totals,jdbcType=BIGINT}, 
      #{deadLine,jdbcType=TIMESTAMP}, #{hash,jdbcType=VARCHAR}, #{completeFlag,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.platon.browser.dao.entity.VoteTx">
    insert into vote_tx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vaildCount != null">
        vaild_count,
      </if>
      <if test="totals != null">
        totals,
      </if>
      <if test="deadLine != null">
        dead_line,
      </if>
      <if test="hash != null">
        hash,
      </if>
      <if test="completeFlag != null">
        complete_flag,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vaildCount != null">
        #{vaildCount,jdbcType=BIGINT},
      </if>
      <if test="totals != null">
        #{totals,jdbcType=BIGINT},
      </if>
      <if test="deadLine != null">
        #{deadLine,jdbcType=TIMESTAMP},
      </if>
      <if test="hash != null">
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="completeFlag != null">
        #{completeFlag,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platon.browser.dao.entity.VoteTxExample" resultType="java.lang.Long">
    select count(*) from vote_tx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update vote_tx
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.vaildCount != null">
        vaild_count = #{record.vaildCount,jdbcType=BIGINT},
      </if>
      <if test="record.totals != null">
        totals = #{record.totals,jdbcType=BIGINT},
      </if>
      <if test="record.deadLine != null">
        dead_line = #{record.deadLine,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hash != null">
        hash = #{record.hash,jdbcType=VARCHAR},
      </if>
      <if test="record.completeFlag != null">
        complete_flag = #{record.completeFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update vote_tx
    set id = #{record.id,jdbcType=BIGINT},
      vaild_count = #{record.vaildCount,jdbcType=BIGINT},
      totals = #{record.totals,jdbcType=BIGINT},
      dead_line = #{record.deadLine,jdbcType=TIMESTAMP},
      hash = #{record.hash,jdbcType=VARCHAR},
      complete_flag = #{record.completeFlag,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.browser.dao.entity.VoteTx">
    update vote_tx
    <set>
      <if test="vaildCount != null">
        vaild_count = #{vaildCount,jdbcType=BIGINT},
      </if>
      <if test="totals != null">
        totals = #{totals,jdbcType=BIGINT},
      </if>
      <if test="deadLine != null">
        dead_line = #{deadLine,jdbcType=TIMESTAMP},
      </if>
      <if test="hash != null">
        hash = #{hash,jdbcType=VARCHAR},
      </if>
      <if test="completeFlag != null">
        complete_flag = #{completeFlag,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.browser.dao.entity.VoteTx">
    update vote_tx
    set vaild_count = #{vaildCount,jdbcType=BIGINT},
      totals = #{totals,jdbcType=BIGINT},
      dead_line = #{deadLine,jdbcType=TIMESTAMP},
      hash = #{hash,jdbcType=VARCHAR},
      complete_flag = #{completeFlag,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into vote_tx
    (id, vaild_count, totals, dead_line, hash, complete_flag, price)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.vaildCount,jdbcType=BIGINT}, #{item.totals,jdbcType=BIGINT}, 
        #{item.deadLine,jdbcType=TIMESTAMP}, #{item.hash,jdbcType=VARCHAR}, #{item.completeFlag,jdbcType=VARCHAR}, 
        #{item.price,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into vote_tx (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id'.toString() == column.value">
          #{item.id,jdbcType=BIGINT}
        </if>
        <if test="'vaild_count'.toString() == column.value">
          #{item.vaildCount,jdbcType=BIGINT}
        </if>
        <if test="'totals'.toString() == column.value">
          #{item.totals,jdbcType=BIGINT}
        </if>
        <if test="'dead_line'.toString() == column.value">
          #{item.deadLine,jdbcType=TIMESTAMP}
        </if>
        <if test="'hash'.toString() == column.value">
          #{item.hash,jdbcType=VARCHAR}
        </if>
        <if test="'complete_flag'.toString() == column.value">
          #{item.completeFlag,jdbcType=VARCHAR}
        </if>
        <if test="'price'.toString() == column.value">
          #{item.price,jdbcType=VARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>

</mapper>