<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.persistence.dao.mapper.DelegateBusinessMapper">
<update id="create" parameterType="com.platon.browser.common.complement.dto.delegate.DelegateCreate">

    update `node`set
        `total_value` = `total_value` + #{amount},
        `stat_delegate_value` = `stat_delegate_value` + #{amount},
        `stat_valid_addrs` = if((select 1 from delegation where is_history = 2 and delegate_addr = #{txFrom}  and node_id = #{nodeId}) is null,stat_valid_addrs + 1,stat_valid_addrs)
    where
        `node_id` = #{nodeId};

    update `staking` set
        `stat_delegate_hes` = `stat_delegate_hes` + #{amount}
    where
        `node_id` = #{nodeId}
    and
        `staking_block_num` = #{stakingBlockNumber};

    insert into `delegation`
    (
        `delegate_addr`,
        `staking_block_num`,
        `node_id`,
        `delegate_hes`,
        `sequence`,
        `cur_delegation_block_num`
    )
    values(
        #{txFrom},
        #{stakingBlockNumber},
        #{nodeId},
        #{amount},
        #{sequence},
        #{blockNumber}
    )
    on
        duplicate
    key update
        `delegate_hes` = `delegate_hes` + #{amount},
        `is_history` = 2,
        `cur_delegation_block_num` = #{blockNumber};


</update>
</mapper>