<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.persistence.dao.mapper.EpochBusinessMapper">
<update id="consensus" parameterType="com.platon.browser.common.complement.dto.epoch.Consensus">

    update `staking`set
        `is_consensus` = if(`node_id` in <foreach open="(" collection="validatorList" item="validator"  separator="," close=")"> #{validator} </foreach>, 1,  2),
        `pre_cons_block_qty` = `cur_cons_block_qty`,
        `cur_cons_block_qty` = 0
    where
      `status` = 1
    and
      `node_id` = #{nodeId};

    update `node` set
        `is_consensus` = if(`node_id` in <foreach open="(" collection="validatorList" item="validator"  separator="," close=")"> #{validator} </foreach>, 1,  2),
        `stat_verifier_time` = `stat_verifier_time` + 1,
        `stat_expect_block_qty` = stat_expect_block_qty + #{expectBlockNum}
    where
    `node_id` = #{nodeId};

</update>
</mapper>