<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.complement.dao.mapper.ProposalBusinessMapper">
    <update id="parameter" parameterType="com.platon.browser.complement.dao.param.proposal.ProposalParameter">

    insert into `proposal`
    (
        `hash`,
        `type`,
        `node_id`,
        `node_name`,
        `url`,
        `new_version`,
        `end_voting_block`,
        `active_block`,
        `timestamp`,
        `pip_num`,
        `pip_id`,
        `topic`,
        `description`,
        `block_number`,
        `module`,
        `name`,
        `new_value`,
    )
    values
    (
        #{txHash},
        '2',
        #{nodeId},
        #{stakingName},
        #{url},
        #{newVersion},
        #{endVotingBlock},
        #{activeBlock},
        #{timestamp},
        #{pipNum},
        #{pIDID},
        #{topic},
        #{description},
        #{blockNumber},
        #{module},
        #{name},
        #{newValue}
    );
</update>
</mapper>