<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.complement.mapper.SlashBusinessMapper">
<update id="report" parameterType="com.platon.browser.common.complement.param.slash.Report">

	update `node` set
		`leave_time` = #{time},
		`status` =  #{codeStatus},
		`staking_reduction_epoch` = #{codeStakingReductionEpoch},
		`staking_reduction` = #{codeCurStakingLocked},
		`staking_locked` = 0,
		`staking_hes` = 0,
		`total_value` = `total_value` - `staking_locked` - `staking_hes`,
		`stat_delegate_value` = 0,
		`stat_delegate_released` = `stat_delegate_value`,
		`stat_valid_addrs` = 0,
		`stat_invalid_addrs` = (select count(1) from delegation where node_id = #{nodeId} and is_history = 2 group by delegate_addr)
	where
		`node_id` = #{nodeId};

	update `staking` set
		`leave_time` = #{time},
		`status` =  #{codeStatus},
		`staking_reduction_epoch` = #{codeStakingReductionEpoch},
		`staking_reduction` = #{codeCurStakingLocked},
		`staking_locked` = 0,
		`staking_hes` = 0,
		`stat_delegate_hes` = 0,
		`stat_delegate_locked` = 0,
		`stat_delegate_released` = `stat_delegate_hes` + `stat_delegate_locked`
	where
		`node_id` = #{nodeId}
	and
		`staking_block_num` = #{stakingBlockNum};

	insert into `slash`
		(`hash`,
		`node_id`,
		`slash_rate`,
		`slash_value`,
		`reward`,
		`benefit_addr`,
		`data`
		)
	values
		(#{txHash},
		#{nodeId},
		#{slashRate},
		#{codeCurStakingLocked},
		#{codeRewardValue},
		#{benefitAddr},
		#{slashData}
		);

</update>
</mapper>