<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.persistence.dao.mapper.StakeBusinessMapper">
  <update id="create" parameterType="com.platon.browser.common.complement.param.stake.StakeCreate">
    insert into `staking`
        (
        `node_id`,
        `staking_block_num`,
        `staking_tx_index`,
        `staking_addr`,
        `staking_hes`,
        `node_name`,
        `external_id`,
        `benefit_addr`,
        `program_version`,
        `big_version`,
        `web_site`,
        `details`,
        `join_time`,
        `is_init`
        )
        values
        (
        #{nodeId},
        #{stakingBlockNum},
        #{stakingTxIndex},
        #{stakingAddr},
        #{stakingHes},
        #{nodeName},
        #{externalId},
        #{benefitAddr},
        #{programVersion},
        #{bigVersion},
        #{webSite},
        #{details},
        #{joinTime},
        #{isInit}
        );

    insert into `node`
        (`node_id`,
        `staking_block_num`,
        `staking_tx_index`,
        `staking_addr`,
        `staking_hes`,
        `node_name`,
        `external_id`,
        `benefit_addr`,
        `program_version`,
        `big_version`,
        `web_site`,
        `details`,
        `join_time`,
        `is_init`,
        `total_value`
        )
        values
        (#{nodeId},
        #{stakingBlockNum},
        #{stakingTxIndex},
        #{stakingAddr},
        #{stakingHes},
        #{nodeName},
        #{externalId},
        #{benefitAddr},
        #{programVersion},
        #{bigVersion},
        #{webSite},
        #{details},
        #{joinTime},
        #{isInit},
        #{stakingHes}
        )
        on duplicate key update
        `staking_block_num` =  #{stakingBlockNum},
        `staking_tx_index` = #{stakingTxIndex},
        `staking_addr` = #{stakingAddr},
        `staking_hes` = #{stakingHes},
        `node_name` = #{nodeName},
        `external_id` = #{externalId},
        `benefit_addr` = #{benefitAddr},
        `program_version` = #{programVersion},
        `big_version` = #{bigVersion},
        `web_site` = #{webSite},
        `details` = #{details},
        `join_time` = #{joinTime},
        `is_init` = #{isInit},
        `staking_hes` = #{stakingHes},
        `status` = '1',
        `is_consensus` = '2',
        `is_settle` = '2',
        `annualized_rate` = '0',
        `total_value` = `total_value` + #{stakingHes};

    insert into `node_opt`
        (`node_id`,
        `type`,
        `tx_hash`,
        `b_num`,
        `time`
        )
        values
        (#{nodeId},
        '1',
        #{txHash},
        #{stakingBlockNum},
        #{joinTime}
        );
  </update>
</mapper>