<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.persistence.dao.mapper.StatisticBusinessMapper">
<update id="addressChange" parameterType="com.platon.browser.common.complement.dto.statistic.AddressStatChange">
    insert into `address`
    (
        `address`,
        `type`,
        `tx_qty`,
        `transfer_qty`,
        `delegate_qty`,
        `staking_qty`,
        `proposal_qty`,
        `contract_name`,
        `contract_create`,
        `contract_createHash`
    )
    values
    (
        #{address},
        #{type},
        #{txQty},
        #{transferQty},
        #{delegateQty},
        #{stakingQty},
        #{proposalQty},
        #{contractName},
        #{contractCreate},
        #{contractCreatehash}
    )
    on duplicate
    key update
        `tx_qty` = `tx_qty` + #{txQty},
        `transfer_qty` = `transfer_qty` + #{transferQty},
        `delegate_qty` = `delegate_qty` + #{delegateQty},
        `staking_qty` = `staking_qty` + #{stakingQty},
        `proposal_qty` = `proposal_qty` + #{proposalQty};

</update>
</mapper>