<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.complement.mapper.StatisticBusinessMapper">
<update id="addressChange" parameterType="com.platon.browser.common.complement.param.statistic.AddressStatChange">

    replace into `address`
    (
        `address`,
        `type`,
        `tx_qty`,
        `transfer_qty`,
        `delegate_qty`,
        `staking_qty`,
        `proposal_qty`,
        `contract_name`,
        `contract_create`,
        `contract_createHash`
    )
    values
    <foreach collection="addressStatItemList" item="item" separator=",">
    (
        #{item.address},
        #{item.type},
        #{item.txQty},
        #{item.transferQty},
        #{item.delegateQty},
        #{item.stakingQty},
        #{item.proposalQty},
        #{item.contractName},
        #{item.contractCreate},
        #{item.contractCreatehash}
    )
    </foreach>
</update>
</mapper>