<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.CustomNOptBakMapper">
  <insert id="batchInsertOrUpdateSelective" parameterType="map" useGeneratedKeys="true" keyProperty="id">
    replace into n_opt_bak (
        `node_id`,`type`,`tx_hash`,`b_num`,`time`,`desc`
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
          #{item.nodeId,jdbcType=VARCHAR},
          #{item.type,jdbcType=INTEGER},
          #{item.txHash,jdbcType=VARCHAR},
          #{item.bNum,jdbcType=BIGINT},
          #{item.time,jdbcType=TIMESTAMP},
          #{item.desc,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <select id="getLastNodeOptSeq" resultType="long">
    select IFNULL(MAX(id),0) as id from n_opt_bak order by id limit 1;
  </select>
</mapper>