<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.CustomTxBakMapper">
  <insert id="batchInsertOrUpdateSelective" parameterType="map" useGeneratedKeys="true" keyProperty="id">
    replace into tx_bak (
        `hash`,`num`,`info`
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <if test="item.hash !=null">
        #{item.hash,jdbcType=VARCHAR},
      </if>
      <if test="item.num !=null">
        #{item.num,jdbcType=BIGINT},
      </if>
      <if test="item.info !=null">
        #{item.info,jdbcType=LONGVARCHAR}
      </if>
      )
    </foreach>
  </insert>
</mapper>