<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.CustomVoteMapper">
  <resultMap id="BaseResultMap" type="com.platon.browser.bean.CustomVote" extends="com.platon.browser.dao.mapper.VoteMapper.BaseResultMap"/>
  <resultMap id="VoteProposalResultMap" type="com.platon.browser.bean.CustomVoteProposal" extends="com.platon.browser.dao.mapper.VoteMapper.BaseResultMap">
    <id column="pproposalHash" jdbcType="VARCHAR" property="pproposalHash" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="proposalVerifier" jdbcType="VARCHAR" property="proposalVerifier" />
    <result column="proposalVerifierName" jdbcType="VARCHAR" property="proposalVerifierName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="new_version" jdbcType="VARCHAR" property="newVersion" />
    <result column="end_voting_block" jdbcType="VARCHAR" property="endVotingBlock" />
    <result column="active_block" jdbcType="VARCHAR" property="activeBlock" />
    <result column="proposalTimestamp" jdbcType="TIMESTAMP" property="proposalTimestamp" />
    <result column="yeas" jdbcType="BIGINT" property="yeas" />
    <result column="nays" jdbcType="BIGINT" property="nays" />
    <result column="abstentions" jdbcType="BIGINT" property="abstentions" />
    <result column="accu_verifiers" jdbcType="BIGINT" property="accuVerifiers" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="proposalUpdateTime" jdbcType="TIMESTAMP" property="proposalUpdateTime" />
    <result column="proposalCreateTime" jdbcType="TIMESTAMP" property="proposalCreateTime" />
    <result column="pip_num" jdbcType="VARCHAR" property="pipNum" />
    <result column="pip_id" jdbcType="VARCHAR" property="pipId" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="canceled_pip_id" jdbcType="VARCHAR" property="canceledPipId" />
    <result column="canceled_topic" jdbcType="VARCHAR" property="canceledTopic" />
  </resultMap>
  <!--查询所有提案投票-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="com.platon.browser.dao.mapper.VoteMapper.Base_Column_List" />
    from vote
  </select>
  
  <select id="selectVotePropal" resultMap="VoteProposalResultMap">
    select v.*,p.hash as pproposalHash, p.`type`, p.node_id as proposalVerifier, p.node_name as proposalVerifierName, p.url, p.new_version, p.end_voting_block, p.active_block, 
    p.`timestamp` as proposalTimestamp, p.yeas, p.nays, p.abstentions, p.accu_verifiers, p.`status`, p.update_time as proposalUpdateTime, p.create_time as proposalCreateTime, 
    pip_num, pip_id, topic, description, canceled_pip_id, canceled_topic
    from vote v left join proposal p on v.proposal_hash = p.hash
    where v.hash = #{hash,jdbcType=VARCHAR}
  </select>
</mapper>
