<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.CustomRpPlanMapper">

  <resultMap id="BaseResultMap" type="com.platon.browser.bean.CustomRpPlan" extends="com.platon.browser.dao.mapper.RpPlanMapper.BaseResultMap"/>

  <!--查询所有节点-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="com.platon.browser.dao.mapper.RpPlanMapper.Base_Column_List" />
    from rp_plan
  </select>

  <!--批量选择性插入或更新-->
  <insert id="batchInsertOrUpdateSelective" parameterType="map">
    replace into rp_plan (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id'.toString() == column.value">
          #{item.id,jdbcType=INTEGER}
        </if>
        <if test="'address'.toString() == column.value">
          #{item.address,jdbcType=VARCHAR}
        </if>
        <if test="'epoch'.toString() == column.value">
          #{item.epoch,jdbcType=BIGINT}
        </if>
        <if test="'amount'.toString() == column.value">
          #{item.amount,jdbcType=VARCHAR}
        </if>
        <if test="'number'.toString() == column.value">
          #{item.number,jdbcType=BIGINT}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
  <select id="selectSumByAddress" resultType="java.math.BigDecimal">
    select sum(amount) from rp_plan
    where address = #{address,jdbcType=VARCHAR}
  </select>

  <select id="sumAmountByAddressAndBlockNumber" resultType="java.math.BigDecimal">
    select sum(amount) from rp_plan
    where address = #{address} and `number` > #{blockNumber}
  </select>

  <select id="getRPNotExpiredValue" resultType="java.math.BigDecimal">
    select
        SUM(cast(t2.amount as DECIMAL(64, 18))) as rpNotExpiredValue
    from
    (
        select
            t1.id ,
            t1.address ,
            case
                when (t1.`number` mod #{settlePeriodBlockCount}) = 0 then cast(( t1.epoch * #{settlePeriodBlockCount} + t1.`number`) as DECIMAL(64, 18))
                else cast(( t1.epoch * #{settlePeriodBlockCount} + t1.`number` - (t1.`number` mod #{settlePeriodBlockCount})) as DECIMAL(64, 18))
            end as endBlockNum ,
            t1.amount ,
            t1.`number`
        from
            rp_plan t1
    ) t2
    where
    t2.endBlockNum <![CDATA[ >= ]]> #{curBlockNumber}
  </select>

</mapper>
