<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.CustomStakingHistoryMapper">
  <insert id="backupQuitedStaking">
    INSERT INTO staking_history (
        node_id,
        staking_block_num,
        staking_tx_index,
        staking_hes,
        staking_locked,
        staking_reduction,
        staking_reduction_epoch,
        node_name,
        node_icon,
        external_id,
        external_name,
        staking_addr,
        benefit_addr,
        annualized_rate,
        program_version,
        big_version,
        web_site,
        details,
        join_time,
        leave_time,
        `status`,
        is_consensus,
        is_settle,
        is_init,
        stat_delegate_hes,
        stat_delegate_locked,
        stat_delegate_released,
        block_reward_value,
        predict_staking_reward,
        staking_reward_value,
        fee_reward_value,
        cur_cons_block_qty,
        pre_cons_block_qty,
        annualized_rate_info,
        reward_per,
        next_reward_per,
        next_reward_per_mod_epoch,
        have_dele_reward,
        pre_dele_annualized_rate,
        dele_annualized_rate,
        total_dele_reward,
        create_time,
        update_time
    )
    SELECT
        node_id,
        staking_block_num,
        staking_tx_index,
        staking_hes,
        staking_locked,
        staking_reduction,
        staking_reduction_epoch,
        node_name,
        node_icon,
        external_id,
        external_name,
        staking_addr,
        benefit_addr,
        annualized_rate,
        program_version,
        big_version,
        web_site,
        details,
        join_time,
        leave_time,
        `status`,
        is_consensus,
        is_settle,
        is_init,
        stat_delegate_hes,
        stat_delegate_locked,
        stat_delegate_released,
        block_reward_value,
        predict_staking_reward,
        staking_reward_value,
        fee_reward_value,
        cur_cons_block_qty,
        pre_cons_block_qty,
        annualized_rate_info,
        reward_per,
        next_reward_per,
        next_reward_per_mod_epoch,
        have_dele_reward,
        pre_dele_annualized_rate,
        dele_annualized_rate,
        total_dele_reward,
        create_time,
        update_time
    FROM staking
    WHERE STATUS = 3;

    DELETE FROM staking WHERE STATUS = 3;
  </insert>
</mapper>
