<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.CustomStakingMapper">
  <resultMap id="BaseResultMap" type="com.platon.browser.bean.CustomStaking" extends="com.platon.browser.dao.mapper.StakingMapper.ResultMapWithBLOBs"/>
  <resultMap id="AndNodeResultMap" type="com.platon.browser.bean.StakingNode">
    <id column="staking_block_num" jdbcType="BIGINT" property="stakingBlockNum" />
    <id column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="staking_tx_index" jdbcType="INTEGER" property="stakingTxIndex" />
    <result column="staking_hes" jdbcType="DECIMAL" property="stakingHes" />
    <result column="staking_locked" jdbcType="DECIMAL" property="stakingLocked" />
    <result column="staking_reduction" jdbcType="DECIMAL" property="stakingReduction" />
    <result column="staking_reduction_epoch" jdbcType="INTEGER" property="stakingReductionEpoch" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="node_icon" jdbcType="VARCHAR" property="nodeIcon" />
    <result column="external_id" jdbcType="VARCHAR" property="externalId" />
    <result column="external_name" jdbcType="VARCHAR" property="externalName" />
    <result column="staking_addr" jdbcType="VARCHAR" property="stakingAddr" />
    <result column="benefit_addr" jdbcType="VARCHAR" property="benefitAddr" />
    <result column="annualized_rate" jdbcType="DOUBLE" property="annualizedRate" />
    <result column="program_version" jdbcType="VARCHAR" property="programVersion" />
    <result column="big_version" jdbcType="VARCHAR" property="bigVersion" />
    <result column="web_site" jdbcType="VARCHAR" property="webSite" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="join_time" jdbcType="TIMESTAMP" property="joinTime" />
    <result column="leave_time" jdbcType="TIMESTAMP" property="leaveTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_consensus" jdbcType="INTEGER" property="isConsensus" />
    <result column="is_settle" jdbcType="INTEGER" property="isSettle" />
    <result column="is_init" jdbcType="INTEGER" property="isInit" />
    <result column="stat_delegate_hes" jdbcType="DECIMAL" property="statDelegateHes" />
    <result column="stat_delegate_locked" jdbcType="DECIMAL" property="statDelegateLocked" />
    <result column="stat_delegate_released" jdbcType="DECIMAL" property="statDelegateReleased" />
    <result column="block_reward_value" jdbcType="DECIMAL" property="blockRewardValue" />
    <result column="predict_staking_reward" jdbcType="DECIMAL" property="predictStakingReward" />
    <result column="fee_reward_value" jdbcType="DECIMAL" property="feeRewardValue" />
    <result column="staking_reward_value" jdbcType="DECIMAL" property="stakingRewardValue" />
    <result column="cur_cons_block_qty" jdbcType="BIGINT" property="curConsBlockQty" />
    <result column="pre_cons_block_qty" jdbcType="BIGINT" property="preConsBlockQty" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="stat_slash_multi_qty" jdbcType="INTEGER" property="statSlashMultiQty" />
    <result column="stat_slash_low_qty" jdbcType="INTEGER" property="statSlashLowQty" />
    <result column="stat_block_qty" jdbcType="BIGINT" property="statBlockQty" />
    <result column="stat_expect_block_qty" jdbcType="BIGINT" property="statExpectBlockQty" />
    <result column="stat_verifier_time" jdbcType="INTEGER" property="nodeStatVerifierTime" />
    <result column="is_recommend" jdbcType="INTEGER" property="isRecommend" />
    <result column="total_value" jdbcType="DECIMAL" property="totalValue" />
    <result column="stat_delegate_value" jdbcType="DECIMAL" property="statDelegateValue" />
    <result column="stat_delegate_released" jdbcType="DECIMAL" property="statDelegateReleased" />
    <result column="stat_valid_addrs" jdbcType="DECIMAL" property="statValidAddrs" />
    <result column="stat_invalid_addrs" jdbcType="DECIMAL" property="statInvalidAddrs" />
    <result column="stat_block_reward_value" jdbcType="DECIMAL" property="statBlockRewardValue" />
    <result column="stat_fee_reward_value" jdbcType="DECIMAL" property="statFeeRewardValue" />
    <result column="stat_staking_reward_value" jdbcType="DECIMAL" property="statStakingRewardValue" />
    <result column="un_stake_freeze_duration" jdbcType="INTEGER" property="unStakeFreezeDuration" />
    <result column="un_stake_end_block" jdbcType="INTEGER" property="unStakeEndBlock" />
    <result column="zero_produce_freeze_duration" jdbcType="INTEGER" property="zeroProduceFreezeDuration" />
    <result column="zero_produce_freeze_epoch" jdbcType="INTEGER" property="zeroProduceFreezeEpoch" />
    <result column="low_rate_slash_count" jdbcType="INTEGER" property="lowRateSlashCount" />
  </resultMap>
  <select id="selectByNodeId" resultMap="BaseResultMap">
    select
    <include refid="com.platon.browser.dao.mapper.StakingMapper.Base_Column_List" />
    ,
    <include refid="com.platon.browser.dao.mapper.StakingMapper.Blob_Column_List" />
    from staking where node_id = #{nodeId}
  </select>
  <select id="selectByNodeIdList" resultMap="BaseResultMap">
    select
    <include refid="com.platon.browser.dao.mapper.StakingMapper.Base_Column_List" />
    ,
    <include refid="com.platon.browser.dao.mapper.StakingMapper.Blob_Column_List" />
    from staking where node_id IN (<foreach collection="nodeIds" item="item" separator=",">#{item,jdbcType=VARCHAR}</foreach>)
  </select>
  <select id="selectSumExitDelegate" resultType="string">
  	SELECT SUM(stat_delegate_hes+stat_delegate_locked+stat_delegate_released) as sumDelegate 
	FROM staking WHERE `status` in (2,3)
  </select>
  
  <select id="selectCountByActive" resultType="java.lang.Integer">
  	SELECT count(*)
	FROM node WHERE (`status` = 1 and `is_settle` = 1) or (`status` = 2 and `is_settle` = 1)
  </select>
</mapper>
