<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.CustomStakingHistoryMapper">
  <insert id="batchInsertOrUpdateSelective" parameterType="map">
    replace into staking_history (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'node_id'.toString() == column.value">
          #{item.nodeId,jdbcType=VARCHAR}
        </if>
        <if test="'staking_block_num'.toString() == column.value">
          #{item.stakingBlockNum,jdbcType=BIGINT}
        </if>
        <if test="'staking_tx_index'.toString() == column.value">
          #{item.stakingTxIndex,jdbcType=INTEGER}
        </if>
        <if test="'staking_hes'.toString() == column.value">
          #{item.stakingHes,jdbcType=DECIMAL}
        </if>
        <if test="'staking_locked'.toString() == column.value">
          #{item.stakingLocked,jdbcType=DECIMAL}
        </if>
        <if test="'staking_reduction'.toString() == column.value">
          #{item.stakingReduction,jdbcType=DECIMAL}
        </if>
        <if test="'staking_reduction_epoch'.toString() == column.value">
          #{item.stakingReductionEpoch,jdbcType=INTEGER}
        </if>
        <if test="'node_name'.toString() == column.value">
          #{item.nodeName,jdbcType=VARCHAR}
        </if>
        <if test="'node_icon'.toString() == column.value">
          #{item.nodeIcon,jdbcType=VARCHAR}
        </if>
        <if test="'external_id'.toString() == column.value">
          #{item.externalId,jdbcType=VARCHAR}
        </if>
        <if test="'external_name'.toString() == column.value">
          #{item.externalName,jdbcType=VARCHAR}
        </if>
        <if test="'staking_addr'.toString() == column.value">
          #{item.stakingAddr,jdbcType=VARCHAR}
        </if>
        <if test="'benefit_addr'.toString() == column.value">
          #{item.benefitAddr,jdbcType=VARCHAR}
        </if>
        <if test="'annualized_rate'.toString() == column.value">
          #{item.annualizedRate,jdbcType=DOUBLE}
        </if>
        <if test="'program_version'.toString() == column.value">
          #{item.programVersion,jdbcType=VARCHAR}
        </if>
        <if test="'big_version'.toString() == column.value">
          #{item.bigVersion,jdbcType=VARCHAR}
        </if>
        <if test="'web_site'.toString() == column.value">
          #{item.webSite,jdbcType=VARCHAR}
        </if>
        <if test="'details'.toString() == column.value">
          #{item.details,jdbcType=VARCHAR}
        </if>
        <if test="'join_time'.toString() == column.value">
          #{item.joinTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'leave_time'.toString() == column.value">
          #{item.leaveTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'status'.toString() == column.value">
          #{item.status,jdbcType=INTEGER}
        </if>
        <if test="'is_consensus'.toString() == column.value">
          #{item.isConsensus,jdbcType=INTEGER}
        </if>
        <if test="'is_settle'.toString() == column.value">
          #{item.isSettle,jdbcType=INTEGER}
        </if>
        <if test="'is_init'.toString() == column.value">
          #{item.isInit,jdbcType=INTEGER}
        </if>
        <if test="'stat_delegate_hes'.toString() == column.value">
          #{item.statDelegateHes,jdbcType=DECIMAL}
        </if>
        <if test="'stat_delegate_locked'.toString() == column.value">
          #{item.statDelegateLocked,jdbcType=DECIMAL}
        </if>
        <if test="'stat_delegate_released'.toString() == column.value">
          #{item.statDelegateReleased,jdbcType=DECIMAL}
        </if>
        <if test="'block_reward_value'.toString() == column.value">
          #{item.blockRewardValue,jdbcType=DECIMAL}
        </if>
        <if test="'fee_reward_value'.toString() == column.value">
          #{item.feeRewardValue,jdbcType=DECIMAL}
        </if>
        <if test="'staking_reward_value'.toString() == column.value">
          #{item.stakingRewardValue,jdbcType=DECIMAL}
        </if>
        <if test="'predict_staking_reward'.toString() == column.value">
          #{item.predictStakingReward,jdbcType=DECIMAL}
        </if>
        <if test="'cur_cons_block_qty'.toString() == column.value">
          #{item.curConsBlockQty,jdbcType=BIGINT}
        </if>
        <if test="'pre_cons_block_qty'.toString() == column.value">
          #{item.preConsBlockQty,jdbcType=BIGINT}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'reward_per'.toString() == column.value">
          #{item.rewardPer,jdbcType=INTEGER}
        </if>
        <if test="'next_reward_per'.toString() == column.value">
          #{item.nextRewardPer,jdbcType=INTEGER}
        </if>
        <if test="'next_reward_per_mod_epoch'.toString() == column.value">
          #{item.nextRewardPerModEpoch,jdbcType=INTEGER}
        </if>
        <if test="'have_dele_reward'.toString() == column.value">
          #{item.haveDeleReward,jdbcType=DECIMAL}
        </if>
        <if test="'pre_dele_annualized_rate'.toString() == column.value">
          #{item.preDeleAnnualizedRate,jdbcType=DOUBLE}
        </if>
        <if test="'dele_annualized_rate'.toString() == column.value">
          #{item.deleAnnualizedRate,jdbcType=DOUBLE}
        </if>
        <if test="'total_dele_reward'.toString() == column.value">
          #{item.totalDeleReward,jdbcType=DECIMAL}
        </if>
        <if test="'annualized_rate_info'.toString() == column.value">
          #{item.annualizedRateInfo,jdbcType=LONGVARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>
