<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.CustomStakingMapper">
    <resultMap id="BaseResultMap" type="com.platon.browser.bean.CustomStaking" extends="com.platon.browser.dao.mapper.StakingMapper.BaseResultMap"/>
    <select id="selectByNodeId" resultMap="BaseResultMap">
        select
        <include refid="com.platon.browser.dao.mapper.StakingMapper.Base_Column_List"/>
        ,
        <include refid="com.platon.browser.dao.mapper.StakingMapper.Blob_Column_List"/>
        from staking where node_id = #{nodeId}
    </select>
    <select id="selectByNodeIdList" resultMap="BaseResultMap">
        select
        <include refid="com.platon.browser.dao.mapper.StakingMapper.Base_Column_List"/>
        ,
        <include refid="com.platon.browser.dao.mapper.StakingMapper.Blob_Column_List"/>
        from staking where node_id IN (<foreach collection="nodeIds" item="item" separator=",">#{item,jdbcType=VARCHAR}</foreach>)
    </select>
    <select id="selectSumExitDelegate" resultType="string">
        SELECT SUM(stat_delegate_hes + stat_delegate_locked + stat_delegate_released) as sumDelegate
        FROM staking
        WHERE `status` in (2, 3)
    </select>

    <select id="selectCountByActive" resultType="java.lang.Integer">
        SELECT count(*)
        FROM node
        WHERE (`status` = 1 and `is_settle` = 1)
           or (`status` = 2 and `is_settle` = 1)
    </select>

    <update id="updateNodeSettleStatis">
        <foreach collection="list" item="item">
            update staking set node_settle_statis_info = #{item.nodeSettleStatisInfo} where node_id = #{item.nodeId} and staking_block_num = #{item.stakingBlockNum};
        </foreach>
    </update>
</mapper>
