<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.DelegateBusinessMapper">
<update id="claim" parameterType="com.platon.browser.dao.param.ppos.DelegateRewardClaim">
    /*更新node表、staking表*/
    <foreach collection="rewardList" item="reward">
        /*1、更新质押：累加节点当前质押【已领取委托奖励】*/
        update `staking` set
        `have_dele_reward` =  `have_dele_reward` + #{reward.reward}
        where `node_id` = #{reward.nodeId}
        and staking_block_num = #{reward.stakingNum};
        /*2、更新节点：累加节点当前质押【已领取委托奖励】*/
        update `node` set
        `have_dele_reward` =  `have_dele_reward` + #{reward.reward}
        where `node_id` =  #{reward.nodeId};
    </foreach>
</update>
</mapper>