<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.DelegateBusinessMapper">
<update id="create" parameterType="com.platon.browser.dao.param.ppos.DelegateCreate">
    /*1、更新节点*/
    update `node`set
        `total_value` = `total_value` + #{amount},
        `stat_delegate_value` = `stat_delegate_value` + #{amount},
         /*更新节点对应的有效委托地址数*/
        `stat_valid_addrs` = (
            SELECT COUNT(1) FROM delegation WHERE is_history = 2
            AND node_id = #{nodeId} AND delegate_released = 0
            AND delegate_addr != #{txFrom} /*统计除当前委托地址外的所有委托数*/
         ) + 1 /*+当前委托*/
    where `node_id` = #{nodeId};
    /*2、更新质押*/
    update `staking` set
        `stat_delegate_hes` = `stat_delegate_hes` + #{amount}
    where `node_id` = #{nodeId}
    and `staking_block_num` = #{stakingBlockNumber};
    /*3、更新委托*/
    insert into `delegation` (
        `delegate_addr`,
        `staking_block_num`,
        `node_id`,
        `delegate_hes`,
        `sequence`,
        `cur_delegation_block_num`
    ) values (
        #{txFrom},
        #{stakingBlockNumber},
        #{nodeId},
        #{amount},
        #{sequence},
        #{blockNumber}
    ) on duplicate key update
    `delegate_hes` = `delegate_hes` + #{amount},
    `is_history` = 2,
    `cur_delegation_block_num` = #{blockNumber};
</update>
</mapper>