<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.StakeBusinessMapper">
  <update id="updateNodeForTask" >
  	<foreach collection="list" item="item" index="index">
		update `node` set
			`node_icon` = #{item.nodeIcon},
			`external_name` = #{item.externalName},
			`program_version` = #{item.programVersion},
			`big_version` = #{item.bigVersion}
		where
			`node_id` = #{item.nodeId};
	</foreach>     
  </update>
</mapper>