<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.ProposalBusinessMapper">
<update id="vote" parameterType="com.platon.browser.dao.param.ppos.ProposalVote">
    /*1、创建投票提案*/
    insert into `vote` (
        `hash`,
        `node_name`,
        `node_id`,
        `option`,
        `proposal_hash`,
        `timestamp`
    ) values (
        #{txHash},
        #{stakingName},
        #{nodeId},
        #{voteOption},
        #{proposalHash},
        #{timestamp}
    );
    /*更新对应提案的字段*/
    /*投票选项:1支持,2反对,3弃权,其余的枚举也按照3弃权处理*/
    update `proposal`
    <set>
        <if test="voteOption == 1">
            `yeas` = `yeas`+1,
        </if>
        <if test="voteOption == 2">
            `nays` = `nays`+1,
        </if>
        <if test="voteOption != 1 and voteOption != 2">
            `abstentions` = `abstentions`+1,
        </if>
    </set>
    where `hash`=#{proposalHash};
</update>
</mapper>