<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.ProposalBusinessMapper">
<update id="text" parameterType="com.platon.browser.dao.param.ppos.ProposalText">
    /*1、创建文本提案*/
    insert into `proposal` (
        `hash`,
        `type`,
        `node_id`,
        `node_name`,
        `url`,
        `end_voting_block`,
        `timestamp`,
        `pip_num`,
        `pip_id`,
        `topic`,
        `description`,
        `block_number`
    ) values (
        #{txHash},
        '1',
        #{nodeId},
        #{stakingName},
        #{url},
        #{endVotingBlock},
        #{timestamp},
        #{pipNum},
        #{pIDID},
        #{topic},
        #{description},
        #{blockNumber}
    );
</update>
</mapper>