<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.ProposalBusinessMapper">
    <update id="proposalSlashUpdate" >
        <foreach collection="proposalSlashs" item="ps">
        	/*1、更新提案*/
			update proposal set 
			<choose>
            	<when test='ps.voteOption == "1"'>
         			`yeas` = `yeas`- 1
         		</when>
         		<when test='ps.voteOption == "2"'>
         			`nays` = `nays`- 1
         		</when>
         		<when test='ps.voteOption == "3"'>
         			`abstentions` = `abstentions`- 1
         		</when>
         	</choose>
			 where `hash` = #{ps.hash};
            /*2、更新投票*/
		    update vote set 
		    <choose>
            	<when test='ps.voteOption == "1"'>
		    	`option` = 11
		    	</when> 
		    	<when test='ps.voteOption == "2"'>
		    	`option` = 12
		    	</when> 
		    	<when test='ps.voteOption == "3"'>
		    	`option` = 13
		    	</when>
		    </choose> where `hash` = #{ps.voteHash} ;
        </foreach>
</update>
</mapper>