<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.ProposalBusinessMapper">
    <update id="parameter" parameterType="com.platon.browser.dao.param.ppos.ProposalParameter">
    /*1、创建参数提案*/
    insert into `proposal` (
        `hash`,
        `type`,
        `node_id`,
        `node_name`,
        `url`,
        `end_voting_block`,
        `active_block`,
        `timestamp`,
        `pip_num`,
        `pip_id`,
        `topic`,
        `description`,
        `block_number`,
        `module`,
        `name`,
        `stale_value`,
        `new_value`
    ) values (
        #{txHash},
        '3',
        #{nodeId},
        #{stakingName},
        #{url},
        #{endVotingBlock},
        #{activeBlock},
        #{timestamp},
        #{pipNum},
        #{pIDID},
        #{topic},
        #{description},
        #{blockNumber},
        #{module},
        #{name},
        #{staleValue},
        #{newValue}
    );
</update>
</mapper>