<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.RestrictingBusinessMapper">
<update id="create" parameterType="com.platon.browser.dao.param.ppos.RestrictingCreate">


	  insert into `rp_plan`
		(`address`,
		`epoch`,
		`amount`,
		`number`
		)
		values
	<foreach collection="itemList" item="item"  separator="," >
	(#{item.address},
		#{item.epoch},
		#{item.amount},
		#{item.number}
		)
	</foreach>

</update>
</mapper>