<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.StakeBusinessMapper">
	<update id="increase" parameterType="com.platon.browser.dao.param.ppos.StakeIncrease">
	/*1. staking 更新*/
	update `staking`  set
		`staking_hes` = `staking_hes` + #{amount}
	where `node_id` = #{nodeId} and `staking_block_num` = #{stakingBlockNum};
	/*2. node 更新*/
	update `node` set
		`total_value` = `total_value` + #{amount},
		`staking_hes` = `staking_hes` + #{amount}
	where `node_id` = #{nodeId};
  	</update>
</mapper>