<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.StakeBusinessMapper">
    <update id="create" parameterType="com.platon.browser.dao.param.ppos.StakeCreate">
    /*1、staking新增*/
    replace into `staking` (
        `node_id`,
        `staking_block_num`,
        `staking_tx_index`,
        `staking_addr`,
        `staking_hes`,
        `node_name`,
        `external_id`,
        `benefit_addr`,
        `program_version`,
        `big_version`,
        `web_site`,
        `details`,
        `join_time`,
        `is_init`,
        `reward_per`,
        `next_reward_per`,
        `next_reward_per_mod_epoch`,
        `have_dele_reward`,
        `total_dele_reward`,
        `un_stake_freeze_duration`,
        `un_stake_end_block`,
        `low_rate_slash_count`
    ) values (
        #{nodeId},
        #{stakingBlockNum},
        #{stakingTxIndex},
        #{stakingAddr},
        #{stakingHes},
        #{nodeName},
        #{externalId},
        #{benefitAddr},
        #{programVersion},
        #{bigVersion},
        #{webSite},
        #{details},
        #{joinTime},
        #{isInit},
        #{delegateRewardPer},
        #{delegateRewardPer},
        #{settleEpoch},
        0,
        0,
        #{unStakeFreezeDuration},
        #{unStakeEndBlock},
        0
    );
    /*2、node新增或更新*/
    insert into `node` (`node_id`,
        `staking_block_num`,
        `staking_tx_index`,
        `staking_addr`,
        `staking_hes`,
        `node_name`,
        `external_id`,
        `benefit_addr`,
        `program_version`,
        `big_version`,
        `web_site`,
        `details`,
        `join_time`,
        `is_init`,
        `total_value`,
        `reward_per`,
        `next_reward_per`,
        `next_reward_per_mod_epoch`,
        `have_dele_reward`,
        `total_dele_reward`,
        `exception_status`,
        `un_stake_freeze_duration`,
        `un_stake_end_block`,
        `low_rate_slash_count`
    ) values (
        #{nodeId},
        #{stakingBlockNum},
        #{stakingTxIndex},
        #{stakingAddr},
        #{stakingHes},
        #{nodeName},
        #{externalId},
        #{benefitAddr},
        #{programVersion},
        #{bigVersion},
        #{webSite},
        #{details},
        #{joinTime},
        #{isInit},
        #{stakingHes},
        #{delegateRewardPer},
        #{delegateRewardPer},
        #{settleEpoch},
        0,
        0,
        1,
        #{unStakeFreezeDuration},
        #{unStakeEndBlock},
        0
    ) on duplicate key update
        `staking_block_num` =  #{stakingBlockNum},
        `staking_tx_index` = #{stakingTxIndex},
        `staking_addr` = #{stakingAddr},
        `staking_hes` = #{stakingHes},
        `node_name` = #{nodeName},
        `external_id` = #{externalId},
        `benefit_addr` = #{benefitAddr},
        `program_version` = #{programVersion},
        `big_version` = #{bigVersion},
        `web_site` = #{webSite},
        `details` = #{details},
        `join_time` = #{joinTime},
        `is_init` = #{isInit},
        `staking_hes` = #{stakingHes},
        `status` = '1',
        `is_consensus` = '2',
        `is_settle` = '2',
        `annualized_rate` = '0',
        `total_value` = `total_value` + #{stakingHes},
        `reward_per` = #{delegateRewardPer},
        `next_reward_per` = #{delegateRewardPer},
        `next_reward_per_mod_epoch` = #{settleEpoch},
        `have_dele_reward` = `have_dele_reward`,
        `total_dele_reward` = `total_dele_reward`,
        `exception_status` = 1,
        `un_stake_freeze_duration`=#{unStakeFreezeDuration},
        `un_stake_end_block`=#{unStakeEndBlock},
        `low_rate_slash_count`=0;
  </update>
</mapper>