<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.StatisticBusinessMapper">

<update id="addressChange" parameterType="list">
    /*更新地址统计表: 以下相关字段的累加操作在Java代码中*/
    replace into `address` (
        `address`,
		`type`,
        `contract_name`,
        `contract_create`,
        `contract_createHash`,
        `contract_destroy_hash`,
        `contract_bin`
    ) values
    <foreach collection="list" item="item" separator=",">
    (
        #{item.address},
		#{item.type},
        #{item.contractName},
        #{item.contractCreate},
        #{item.contractCreatehash},
        #{item.contractDestroyHash},
        #{item.contractBin}
    )
    </foreach>
</update>
	<insert id="batchInsert" parameterType="list">
		insert into `address` (
		`address`,
		`type`,
		`contract_name`,
		`contract_create`,
		`contract_createHash`,
		`contract_destroy_hash`,
		`contract_bin`
		) values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.address},
			#{item.type},
			#{item.contractName},
			#{item.contractCreate},
			#{item.contractCreatehash},
			#{item.contractDestroyHash},
			#{item.contractBin}
			)
		</foreach>
	</insert>

<select id="getAddressStatisticsFromStaking"  resultType="com.platon.browser.task.bean.AddressStatistics">
	select
	     staking_addr as stakingAddr,
	     staking_hes as stakingHes,
	     staking_locked as stakingLocked,
	     staking_reduction as stakingReduction
	from staking
	where status in (1,2)
	   and staking_addr in <foreach open="(" collection="list" item="item"  separator="," close=")"> #{item} </foreach>;
</select>

<select id="getAddressStatisticsFromDelegation"  resultType="com.platon.browser.task.bean.AddressStatistics">
	select
	     delegate_addr as delegateAddr,
	     delegate_hes as delegateHes,
	     delegate_locked as delegateLocked,
	     delegate_released as delegateReleased,
	     node_id as nodeId
	from delegation
	where is_history = 2
	   and delegate_addr in <foreach open="(" collection="list" item="item"  separator="," close=")"> #{item} </foreach>;
</select>

<update id="batchUpdateFromTask">
	<foreach collection="list" item="item" index="index" separator="">
		update `address` set
			`staking_value` = ${item.stakingValue} , 
			`delegate_value` = ${item.delegateValue} , 
			`redeemed_value` = ${item.redeemedValue} , 
			`candidate_count` = ${item.candidateCount} , 
			`delegate_hes` = ${item.delegateHes} , 
			`delegate_locked` = ${item.delegateLocked} , 
			`delegate_released` = ${item.delegateReleased}
		where
			`address` = "${item.address}";
	</foreach>      
</update>

</mapper>