<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.custommapper.StatisticBusinessMapper">

<select id="getNetworkStatisticsFromNode"  resultType="com.platon.browser.task.bean.NetworkStatistics">
	select sum(total_value) as totalValue,
	    sum(staking_hes + staking_locked) as stakingValue
	 from node
	 where status = 1
</select>

<select id="getNetworkStatisticsFromAddress"  resultType="java.lang.Integer">
	select count(1) from address
</select>

<select id="getNetworkStatisticsFromProposal"  resultType="java.lang.Integer">
	select count(1) from proposal where status = 1
</select>

    <select id="getProposalQty"  resultType="java.lang.Integer">
        select count(1) from proposal
    </select>

<update id="networkChange" parameterType="com.platon.browser.dao.entity.NetworkStat">
    update `network_stat`
    set
        `cur_number` = #{curNumber},
        `node_id` = #{nodeId},
        `node_name` = #{nodeName},
        `tx_qty` = #{txQty},
        `cur_tps` = #{curTps},
        `max_tps` = #{maxTps},
        `issue_value` = #{issueValue},
        `turn_value` = #{turnValue},
        `proposal_qty` = #{proposalQty},
        `block_reward` = #{blockReward},
        `staking_reward` = #{stakingReward},
        `add_issue_begin` = #{addIssueBegin},
        `add_issue_end` = #{addIssueEnd},
        `next_settle` = #{nextSettle},
        `node_opt_seq` = #{nodeOptSeq},
        `cur_block_hash` = #{curBlockHash},
        `staking_delegation_value` = #{stakingDelegationValue},
        `staking_value` = #{stakingValue},
        `doing_proposal_qty`= #{doingProposalQty},
        `address_qty` = #{addressQty},
        `settle_staking_reward` = #{settleStakingReward},
        `avg_pack_time` = #{avgPackTime},
        `issue_rates` = #{issueRates},
        `erc20_tx_qty` = #{erc20TxQty},
        `erc721_tx_qty` = #{erc721TxQty},
        `erc1155_tx_qty` = #{erc1155TxQty},
        `year_num` = #{yearNum}
    where id = 1;
</update>
</mapper>
