<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.AllTransactionMapper">
  <resultMap id="BaseResultMap" type="com.platon.browser.dao.entity.AllTransaction">
    <result column="chain_id" jdbcType="VARCHAR" property="chainId" />
    <result column="tx_hash" jdbcType="VARCHAR" property="txHash" />
    <result column="block_time" jdbcType="TIMESTAMP" property="blockTime" />
    <result column="from" jdbcType="VARCHAR" property="from" />
    <result column="to" jdbcType="VARCHAR" property="to" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="energon_used" jdbcType="INTEGER" property="energonUsed" />
    <result column="energon_limit" jdbcType="INTEGER" property="energonLimit" />
    <result column="energon_price" jdbcType="VARCHAR" property="energonPrice" />
    <result column="transaction_index" jdbcType="BIGINT" property="transactionIndex" />
    <result column="actual_tx_cost" jdbcType="VARCHAR" property="actualTxCost" />
    <result column="tx_receipt_status" jdbcType="BIGINT" property="txReceiptStatus" />
    <result column="tx_type" jdbcType="VARCHAR" property="txType" />
    <result column="server_time" jdbcType="TIMESTAMP" property="serverTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.platon.browser.dao.entity.AllTransactionWithBLOBs">
    <result column="input" jdbcType="LONGVARCHAR" property="input" />
    <result column="fail_reason" jdbcType="LONGVARCHAR" property="failReason" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    chain_id, tx_hash, block_time, `from`, `to`, `value`, energon_used, energon_limit, 
    energon_price, transaction_index, actual_tx_cost, tx_receipt_status, tx_type, server_time, 
    create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    `input`, fail_reason
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.platon.browser.dao.entity.AllTransactionExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from all_transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.platon.browser.dao.entity.AllTransactionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from all_transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.platon.browser.dao.entity.AllTransactionExample">
    delete from all_transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platon.browser.dao.entity.AllTransactionWithBLOBs">
    insert into all_transaction (chain_id, tx_hash, block_time, 
      `from`, `to`, `value`, energon_used, 
      energon_limit, energon_price, transaction_index, 
      actual_tx_cost, tx_receipt_status, tx_type, 
      server_time, create_time, update_time, 
      `input`, fail_reason)
    values (#{chainId,jdbcType=VARCHAR}, #{txHash,jdbcType=VARCHAR}, #{blockTime,jdbcType=TIMESTAMP}, 
      #{from,jdbcType=VARCHAR}, #{to,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{energonUsed,jdbcType=INTEGER}, 
      #{energonLimit,jdbcType=INTEGER}, #{energonPrice,jdbcType=VARCHAR}, #{transactionIndex,jdbcType=BIGINT}, 
      #{actualTxCost,jdbcType=VARCHAR}, #{txReceiptStatus,jdbcType=BIGINT}, #{txType,jdbcType=VARCHAR}, 
      #{serverTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{input,jdbcType=LONGVARCHAR}, #{failReason,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.platon.browser.dao.entity.AllTransactionWithBLOBs">
    insert into all_transaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chainId != null">
        chain_id,
      </if>
      <if test="txHash != null">
        tx_hash,
      </if>
      <if test="blockTime != null">
        block_time,
      </if>
      <if test="from != null">
        `from`,
      </if>
      <if test="to != null">
        `to`,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="energonUsed != null">
        energon_used,
      </if>
      <if test="energonLimit != null">
        energon_limit,
      </if>
      <if test="energonPrice != null">
        energon_price,
      </if>
      <if test="transactionIndex != null">
        transaction_index,
      </if>
      <if test="actualTxCost != null">
        actual_tx_cost,
      </if>
      <if test="txReceiptStatus != null">
        tx_receipt_status,
      </if>
      <if test="txType != null">
        tx_type,
      </if>
      <if test="serverTime != null">
        server_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="input != null">
        `input`,
      </if>
      <if test="failReason != null">
        fail_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chainId != null">
        #{chainId,jdbcType=VARCHAR},
      </if>
      <if test="txHash != null">
        #{txHash,jdbcType=VARCHAR},
      </if>
      <if test="blockTime != null">
        #{blockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="from != null">
        #{from,jdbcType=VARCHAR},
      </if>
      <if test="to != null">
        #{to,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="energonUsed != null">
        #{energonUsed,jdbcType=INTEGER},
      </if>
      <if test="energonLimit != null">
        #{energonLimit,jdbcType=INTEGER},
      </if>
      <if test="energonPrice != null">
        #{energonPrice,jdbcType=VARCHAR},
      </if>
      <if test="transactionIndex != null">
        #{transactionIndex,jdbcType=BIGINT},
      </if>
      <if test="actualTxCost != null">
        #{actualTxCost,jdbcType=VARCHAR},
      </if>
      <if test="txReceiptStatus != null">
        #{txReceiptStatus,jdbcType=BIGINT},
      </if>
      <if test="txType != null">
        #{txType,jdbcType=VARCHAR},
      </if>
      <if test="serverTime != null">
        #{serverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="input != null">
        #{input,jdbcType=LONGVARCHAR},
      </if>
      <if test="failReason != null">
        #{failReason,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platon.browser.dao.entity.AllTransactionExample" resultType="java.lang.Long">
    select count(*) from all_transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update all_transaction
    <set>
      <if test="record.chainId != null">
        chain_id = #{record.chainId,jdbcType=VARCHAR},
      </if>
      <if test="record.txHash != null">
        tx_hash = #{record.txHash,jdbcType=VARCHAR},
      </if>
      <if test="record.blockTime != null">
        block_time = #{record.blockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.from != null">
        `from` = #{record.from,jdbcType=VARCHAR},
      </if>
      <if test="record.to != null">
        `to` = #{record.to,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null">
        `value` = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.energonUsed != null">
        energon_used = #{record.energonUsed,jdbcType=INTEGER},
      </if>
      <if test="record.energonLimit != null">
        energon_limit = #{record.energonLimit,jdbcType=INTEGER},
      </if>
      <if test="record.energonPrice != null">
        energon_price = #{record.energonPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionIndex != null">
        transaction_index = #{record.transactionIndex,jdbcType=BIGINT},
      </if>
      <if test="record.actualTxCost != null">
        actual_tx_cost = #{record.actualTxCost,jdbcType=VARCHAR},
      </if>
      <if test="record.txReceiptStatus != null">
        tx_receipt_status = #{record.txReceiptStatus,jdbcType=BIGINT},
      </if>
      <if test="record.txType != null">
        tx_type = #{record.txType,jdbcType=VARCHAR},
      </if>
      <if test="record.serverTime != null">
        server_time = #{record.serverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.input != null">
        `input` = #{record.input,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.failReason != null">
        fail_reason = #{record.failReason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update all_transaction
    set chain_id = #{record.chainId,jdbcType=VARCHAR},
      tx_hash = #{record.txHash,jdbcType=VARCHAR},
      block_time = #{record.blockTime,jdbcType=TIMESTAMP},
      `from` = #{record.from,jdbcType=VARCHAR},
      `to` = #{record.to,jdbcType=VARCHAR},
      `value` = #{record.value,jdbcType=VARCHAR},
      energon_used = #{record.energonUsed,jdbcType=INTEGER},
      energon_limit = #{record.energonLimit,jdbcType=INTEGER},
      energon_price = #{record.energonPrice,jdbcType=VARCHAR},
      transaction_index = #{record.transactionIndex,jdbcType=BIGINT},
      actual_tx_cost = #{record.actualTxCost,jdbcType=VARCHAR},
      tx_receipt_status = #{record.txReceiptStatus,jdbcType=BIGINT},
      tx_type = #{record.txType,jdbcType=VARCHAR},
      server_time = #{record.serverTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      `input` = #{record.input,jdbcType=LONGVARCHAR},
      fail_reason = #{record.failReason,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update all_transaction
    set chain_id = #{record.chainId,jdbcType=VARCHAR},
      tx_hash = #{record.txHash,jdbcType=VARCHAR},
      block_time = #{record.blockTime,jdbcType=TIMESTAMP},
      `from` = #{record.from,jdbcType=VARCHAR},
      `to` = #{record.to,jdbcType=VARCHAR},
      `value` = #{record.value,jdbcType=VARCHAR},
      energon_used = #{record.energonUsed,jdbcType=INTEGER},
      energon_limit = #{record.energonLimit,jdbcType=INTEGER},
      energon_price = #{record.energonPrice,jdbcType=VARCHAR},
      transaction_index = #{record.transactionIndex,jdbcType=BIGINT},
      actual_tx_cost = #{record.actualTxCost,jdbcType=VARCHAR},
      tx_receipt_status = #{record.txReceiptStatus,jdbcType=BIGINT},
      tx_type = #{record.txType,jdbcType=VARCHAR},
      server_time = #{record.serverTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>