<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.BlockMapper">
  <resultMap id="BaseResultMap" type="com.platon.browser.dao.entity.Block">
    <id column="hash" jdbcType="VARCHAR" property="hash" />
    <result column="number" jdbcType="BIGINT" property="number" />
    <result column="parent_hash" jdbcType="VARCHAR" property="parentHash" />
    <result column="nonce" jdbcType="VARCHAR" property="nonce" />
    <result column="miner" jdbcType="VARCHAR" property="miner" />
    <result column="extra_data" jdbcType="VARCHAR" property="extraData" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="energon_used" jdbcType="VARCHAR" property="energonUsed" />
    <result column="energon_limit" jdbcType="VARCHAR" property="energonLimit" />
    <result column="energon_average" jdbcType="VARCHAR" property="energonAverage" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="block_reward" jdbcType="VARCHAR" property="blockReward" />
    <result column="chain_id" jdbcType="VARCHAR" property="chainId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hash, `number`, parent_hash, nonce, miner, extra_data, `size`, energon_used, energon_limit, 
    energon_average, `timestamp`, block_reward, chain_id, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.platon.browser.dao.entity.BlockExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from block
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from block
    where hash = #{hash,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from block
    where hash = #{hash,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.platon.browser.dao.entity.BlockExample">
    delete from block
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platon.browser.dao.entity.Block">
    insert into block (hash, `number`, parent_hash, 
      nonce, miner, extra_data, 
      `size`, energon_used, energon_limit, 
      energon_average, `timestamp`, block_reward, 
      chain_id, create_time, update_time
      )
    values (#{hash,jdbcType=VARCHAR}, #{number,jdbcType=BIGINT}, #{parentHash,jdbcType=VARCHAR}, 
      #{nonce,jdbcType=VARCHAR}, #{miner,jdbcType=VARCHAR}, #{extraData,jdbcType=VARCHAR}, 
      #{size,jdbcType=INTEGER}, #{energonUsed,jdbcType=VARCHAR}, #{energonLimit,jdbcType=VARCHAR}, 
      #{energonAverage,jdbcType=VARCHAR}, #{timestamp,jdbcType=TIMESTAMP}, #{blockReward,jdbcType=VARCHAR}, 
      #{chainId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.platon.browser.dao.entity.Block">
    insert into block
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hash != null">
        hash,
      </if>
      <if test="number != null">
        `number`,
      </if>
      <if test="parentHash != null">
        parent_hash,
      </if>
      <if test="nonce != null">
        nonce,
      </if>
      <if test="miner != null">
        miner,
      </if>
      <if test="extraData != null">
        extra_data,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="energonUsed != null">
        energon_used,
      </if>
      <if test="energonLimit != null">
        energon_limit,
      </if>
      <if test="energonAverage != null">
        energon_average,
      </if>
      <if test="timestamp != null">
        `timestamp`,
      </if>
      <if test="blockReward != null">
        block_reward,
      </if>
      <if test="chainId != null">
        chain_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hash != null">
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=BIGINT},
      </if>
      <if test="parentHash != null">
        #{parentHash,jdbcType=VARCHAR},
      </if>
      <if test="nonce != null">
        #{nonce,jdbcType=VARCHAR},
      </if>
      <if test="miner != null">
        #{miner,jdbcType=VARCHAR},
      </if>
      <if test="extraData != null">
        #{extraData,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="energonUsed != null">
        #{energonUsed,jdbcType=VARCHAR},
      </if>
      <if test="energonLimit != null">
        #{energonLimit,jdbcType=VARCHAR},
      </if>
      <if test="energonAverage != null">
        #{energonAverage,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="blockReward != null">
        #{blockReward,jdbcType=VARCHAR},
      </if>
      <if test="chainId != null">
        #{chainId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platon.browser.dao.entity.BlockExample" resultType="java.lang.Long">
    select count(*) from block
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update block
    <set>
      <if test="record.hash != null">
        hash = #{record.hash,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null">
        `number` = #{record.number,jdbcType=BIGINT},
      </if>
      <if test="record.parentHash != null">
        parent_hash = #{record.parentHash,jdbcType=VARCHAR},
      </if>
      <if test="record.nonce != null">
        nonce = #{record.nonce,jdbcType=VARCHAR},
      </if>
      <if test="record.miner != null">
        miner = #{record.miner,jdbcType=VARCHAR},
      </if>
      <if test="record.extraData != null">
        extra_data = #{record.extraData,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        `size` = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.energonUsed != null">
        energon_used = #{record.energonUsed,jdbcType=VARCHAR},
      </if>
      <if test="record.energonLimit != null">
        energon_limit = #{record.energonLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.energonAverage != null">
        energon_average = #{record.energonAverage,jdbcType=VARCHAR},
      </if>
      <if test="record.timestamp != null">
        `timestamp` = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.blockReward != null">
        block_reward = #{record.blockReward,jdbcType=VARCHAR},
      </if>
      <if test="record.chainId != null">
        chain_id = #{record.chainId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update block
    set hash = #{record.hash,jdbcType=VARCHAR},
      `number` = #{record.number,jdbcType=BIGINT},
      parent_hash = #{record.parentHash,jdbcType=VARCHAR},
      nonce = #{record.nonce,jdbcType=VARCHAR},
      miner = #{record.miner,jdbcType=VARCHAR},
      extra_data = #{record.extraData,jdbcType=VARCHAR},
      `size` = #{record.size,jdbcType=INTEGER},
      energon_used = #{record.energonUsed,jdbcType=VARCHAR},
      energon_limit = #{record.energonLimit,jdbcType=VARCHAR},
      energon_average = #{record.energonAverage,jdbcType=VARCHAR},
      `timestamp` = #{record.timestamp,jdbcType=TIMESTAMP},
      block_reward = #{record.blockReward,jdbcType=VARCHAR},
      chain_id = #{record.chainId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.browser.dao.entity.Block">
    update block
    <set>
      <if test="number != null">
        `number` = #{number,jdbcType=BIGINT},
      </if>
      <if test="parentHash != null">
        parent_hash = #{parentHash,jdbcType=VARCHAR},
      </if>
      <if test="nonce != null">
        nonce = #{nonce,jdbcType=VARCHAR},
      </if>
      <if test="miner != null">
        miner = #{miner,jdbcType=VARCHAR},
      </if>
      <if test="extraData != null">
        extra_data = #{extraData,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=INTEGER},
      </if>
      <if test="energonUsed != null">
        energon_used = #{energonUsed,jdbcType=VARCHAR},
      </if>
      <if test="energonLimit != null">
        energon_limit = #{energonLimit,jdbcType=VARCHAR},
      </if>
      <if test="energonAverage != null">
        energon_average = #{energonAverage,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        `timestamp` = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="blockReward != null">
        block_reward = #{blockReward,jdbcType=VARCHAR},
      </if>
      <if test="chainId != null">
        chain_id = #{chainId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.browser.dao.entity.Block">
    update block
    set `number` = #{number,jdbcType=BIGINT},
      parent_hash = #{parentHash,jdbcType=VARCHAR},
      nonce = #{nonce,jdbcType=VARCHAR},
      miner = #{miner,jdbcType=VARCHAR},
      extra_data = #{extraData,jdbcType=VARCHAR},
      `size` = #{size,jdbcType=INTEGER},
      energon_used = #{energonUsed,jdbcType=VARCHAR},
      energon_limit = #{energonLimit,jdbcType=VARCHAR},
      energon_average = #{energonAverage,jdbcType=VARCHAR},
      `timestamp` = #{timestamp,jdbcType=TIMESTAMP},
      block_reward = #{blockReward,jdbcType=VARCHAR},
      chain_id = #{chainId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into block
    (hash, `number`, parent_hash, nonce, miner, extra_data, `size`, energon_used, energon_limit, 
      energon_average, `timestamp`, block_reward, chain_id, create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.hash,jdbcType=VARCHAR}, #{item.number,jdbcType=BIGINT}, #{item.parentHash,jdbcType=VARCHAR}, 
        #{item.nonce,jdbcType=VARCHAR}, #{item.miner,jdbcType=VARCHAR}, #{item.extraData,jdbcType=VARCHAR}, 
        #{item.size,jdbcType=INTEGER}, #{item.energonUsed,jdbcType=VARCHAR}, #{item.energonLimit,jdbcType=VARCHAR}, 
        #{item.energonAverage,jdbcType=VARCHAR}, #{item.timestamp,jdbcType=TIMESTAMP}, 
        #{item.blockReward,jdbcType=VARCHAR}, #{item.chainId,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into block (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'hash'.toString() == column.value">
          #{item.hash,jdbcType=VARCHAR}
        </if>
        <if test="'number'.toString() == column.value">
          #{item.number,jdbcType=BIGINT}
        </if>
        <if test="'parent_hash'.toString() == column.value">
          #{item.parentHash,jdbcType=VARCHAR}
        </if>
        <if test="'nonce'.toString() == column.value">
          #{item.nonce,jdbcType=VARCHAR}
        </if>
        <if test="'miner'.toString() == column.value">
          #{item.miner,jdbcType=VARCHAR}
        </if>
        <if test="'extra_data'.toString() == column.value">
          #{item.extraData,jdbcType=VARCHAR}
        </if>
        <if test="'size'.toString() == column.value">
          #{item.size,jdbcType=INTEGER}
        </if>
        <if test="'energon_used'.toString() == column.value">
          #{item.energonUsed,jdbcType=VARCHAR}
        </if>
        <if test="'energon_limit'.toString() == column.value">
          #{item.energonLimit,jdbcType=VARCHAR}
        </if>
        <if test="'energon_average'.toString() == column.value">
          #{item.energonAverage,jdbcType=VARCHAR}
        </if>
        <if test="'timestamp'.toString() == column.value">
          #{item.timestamp,jdbcType=TIMESTAMP}
        </if>
        <if test="'block_reward'.toString() == column.value">
          #{item.blockReward,jdbcType=VARCHAR}
        </if>
        <if test="'chain_id'.toString() == column.value">
          #{item.chainId,jdbcType=VARCHAR}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>