<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomBlockMapper">
  <resultMap id="CustomBlockResultMap" type="com.platon.browser.dao.entity.CustomBlock">
    <result column="number" jdbcType="BIGINT" property="number" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="miner" jdbcType="VARCHAR" property="miner" />
    <result column="energon_used" jdbcType="VARCHAR" property="energonUsed" />
    <result column="energon_average" jdbcType="VARCHAR" property="energonAverage" />
    <result column="energon_limit" jdbcType="VARCHAR" property="energonLimit" />
    <result column="block_reward" jdbcType="VARCHAR" property="blockReward" />
    <result column="transaction" jdbcType="BIGINT" property="transaction" />
  </resultMap>
  <select id="selectByChainId" parameterType="java.lang.String" resultMap="CustomBlockResultMap">
    SELECT
    bl.`number`,
    bl.`timestamp`,
    bl.`size`,
    bl.`miner`,
    bl.`energon_used`,
    bl.`energon_average`,
    bl.`energon_limit`,
    bl.`block_reward`,
    COUNT(0) AS `transaction`
    FROM `block` bl LEFT JOIN `transaction` tr ON tr.`chain_id`=bl.`chain_id` AND bl.`number`=tr.`block_number`
    WHERE bl.`chain_id`=#{chainId}
    GROUP BY bl.`chain_id`,bl.`number`,bl.`timestamp` ORDER BY bl.`number` DESC
  </select>
</mapper>