<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomStaticticeMapper">
  <select id="selectNodeInfo"  resultType="com.platon.browser.common.dto.agent.StaticticsDto">
    SELECT
      n.chain_id as chainId,
      n.id as id,
      n.port as port,
      n.node_status as nodeStatus,
      n.address as address,
      n.type as `type`,
      n.value as `value`,
      nr.reward_ratio as rewardRatio
    FROM `node` n
    LEFT JOIN `node_ranking` nr ON  nr.id = n.id
    WHERE n.`chain_id`= #{chainId}
  </select>
</mapper>