<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomStatisticsMapper">
  <select id="countAddress" parameterType="java.lang.String" resultType="java.lang.Long">
    SELECT COUNT(0) FROM (
      SELECT DISTINCT tr.`chain_id`, tr.`from` FROM `transaction` tr WHERE tr.`tx_type` = 'transfer' AND tr.`chain_id`=#{chainId} GROUP BY tr.`chain_id`,tr.`from`
      UNION
      SELECT DISTINCT tr.`chain_id`, tr.`to` FROM `transaction` tr WHERE tr.`tx_type` = 'transfer' AND tr.`chain_id`=#{chainId} GROUP BY tr.`chain_id`,tr.`to`
    ) tmp
  </select>

  <select id="countTransactionIn24Hours" parameterType="java.lang.String" resultType="java.lang.Long">
    <![CDATA[
      SELECT COUNT(*) FROM `transaction` `tr`
      WHERE `tr`.`timestamp` >= (NOW() - INTERVAL 1 DAY)
      AND `tr`.`timestamp` <= NOW() AND `tr`.`chain_id`=#{chainId} ;
    ]]>
  </select>

  <select id="countAvgTransactionPerBlock" parameterType="java.lang.String" resultType="java.math.BigDecimal">
    SELECT SUM(tmp.txCount)/SUM(1)
    FROM (
     SELECT bl.`transaction_number` AS txCount FROM block bl WHERE bl.`chain_id`=#{chainId} ORDER BY bl.`number` DESC LIMIT 3600
    ) tmp
  </select>

  <select id="countTransactionBlock" parameterType="java.lang.String" resultType="java.lang.Long">
    SELECT COUNT(0)
    FROM (
      SELECT DISTINCT `tr`.`block_number`
      FROM `transaction` `tr`
      WHERE tr.`chain_id` = #{chainId}
    ) `tmp`;
  </select>

  <select id="maxBlockNumber" parameterType="java.lang.String" resultType="java.lang.Long">
    SELECT MAX(number) FROM block WHERE chain_id = #{chainId}
  </select>
  <select id="selectNodeInfo"  resultType="com.platon.browser.common.dto.agent.StaticticsDto">
    SELECT
    n.chain_id as chainId,
    n.id as id,
    n.port as port,
    n.node_status as nodeStatus,
    n.address as address,
    nr.reward_ratio as rewardRatio
    FROM `node` n
    LEFT JOIN `node_ranking` nr ON  nr.id = n.id
    WHERE n.`chain_id`= #{chainId}
  </select>
</mapper>