<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.CustomBlockMapper">
  <resultMap id="BaseResultMap" type="com.platon.browser.dao.entity.Block">
    <id column="hash" jdbcType="VARCHAR" property="hash" />
    <result column="number" jdbcType="BIGINT" property="number" />
    <result column="parent_hash" jdbcType="VARCHAR" property="parentHash" />
    <result column="nonce" jdbcType="VARCHAR" property="nonce" />
    <result column="miner" jdbcType="VARCHAR" property="miner" />
    <result column="extra_data" jdbcType="VARCHAR" property="extraData" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="energon_used" jdbcType="VARCHAR" property="energonUsed" />
    <result column="energon_limit" jdbcType="VARCHAR" property="energonLimit" />
    <result column="energon_average" jdbcType="VARCHAR" property="energonAverage" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="block_reward" jdbcType="VARCHAR" property="blockReward" />
    <result column="chain_id" jdbcType="VARCHAR" property="chainId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="transaction_number" jdbcType="INTEGER" property="transactionNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    `hash`, `number`, parent_hash, nonce, miner, extra_data, `size`, energon_used, energon_limit,
    energon_average, `timestamp`, block_reward, chain_id, create_time, update_time, transaction_number
  </sql>
  <select id="selectByPage" parameterType="com.platon.browser.dao.entity.BlockPage" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM block
    WHERE `chain_id`=#{page.cid}
    <![CDATA[
    AND `number`<= (SELECT `number` FROM block ORDER BY `number` DESC LIMIT #{page.offset},1)
    ]]>
    ORDER BY `number` DESC LIMIT #{page.pageSize};
  </select>
</mapper>