<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.browser.dao.mapper.TransactionMapper">
  <resultMap id="BaseResultMap" type="com.platon.browser.dao.entity.Transaction">
    <id column="hash" jdbcType="VARCHAR" property="hash" />
    <result column="block_number" jdbcType="BIGINT" property="blockNumber" />
    <result column="block_hash" jdbcType="VARCHAR" property="blockHash" />
    <result column="from" jdbcType="VARCHAR" property="from" />
    <result column="to" jdbcType="VARCHAR" property="to" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="energon_used" jdbcType="VARCHAR" property="energonUsed" />
    <result column="energon_limit" jdbcType="VARCHAR" property="energonLimit" />
    <result column="energon_price" jdbcType="VARCHAR" property="energonPrice" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="nonce" jdbcType="VARCHAR" property="nonce" />
    <result column="transaction_index" jdbcType="INTEGER" property="transactionIndex" />
    <result column="tx_receipt_status" jdbcType="INTEGER" property="txReceiptStatus" />
    <result column="actual_tx_cost" jdbcType="VARCHAR" property="actualTxCost" />
    <result column="tx_type" jdbcType="VARCHAR" property="txType" />
    <result column="chain_id" jdbcType="VARCHAR" property="chainId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.platon.browser.dao.entity.TransactionWithBLOBs">
    <result column="input" jdbcType="LONGVARCHAR" property="input" />
    <result column="fail_reason" jdbcType="LONGVARCHAR" property="failReason" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hash, block_number, block_hash, `from`, `to`, `timestamp`, energon_used, energon_limit, 
    energon_price, `value`, nonce, transaction_index, tx_receipt_status, actual_tx_cost, 
    tx_type, chain_id, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    `input`, fail_reason
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.platon.browser.dao.entity.TransactionExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.platon.browser.dao.entity.TransactionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from transaction
    where hash = #{hash,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from transaction
    where hash = #{hash,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.platon.browser.dao.entity.TransactionExample">
    delete from transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platon.browser.dao.entity.TransactionWithBLOBs">
    insert into transaction (hash, block_number, block_hash, 
      `from`, `to`, `timestamp`, 
      energon_used, energon_limit, energon_price, 
      `value`, nonce, transaction_index, 
      tx_receipt_status, actual_tx_cost, tx_type, 
      chain_id, create_time, update_time, 
      `input`, fail_reason)
    values (#{hash,jdbcType=VARCHAR}, #{blockNumber,jdbcType=BIGINT}, #{blockHash,jdbcType=VARCHAR}, 
      #{from,jdbcType=VARCHAR}, #{to,jdbcType=VARCHAR}, #{timestamp,jdbcType=TIMESTAMP}, 
      #{energonUsed,jdbcType=VARCHAR}, #{energonLimit,jdbcType=VARCHAR}, #{energonPrice,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{nonce,jdbcType=VARCHAR}, #{transactionIndex,jdbcType=INTEGER}, 
      #{txReceiptStatus,jdbcType=INTEGER}, #{actualTxCost,jdbcType=VARCHAR}, #{txType,jdbcType=VARCHAR}, 
      #{chainId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{input,jdbcType=LONGVARCHAR}, #{failReason,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.platon.browser.dao.entity.TransactionWithBLOBs">
    insert into transaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hash != null">
        hash,
      </if>
      <if test="blockNumber != null">
        block_number,
      </if>
      <if test="blockHash != null">
        block_hash,
      </if>
      <if test="from != null">
        `from`,
      </if>
      <if test="to != null">
        `to`,
      </if>
      <if test="timestamp != null">
        `timestamp`,
      </if>
      <if test="energonUsed != null">
        energon_used,
      </if>
      <if test="energonLimit != null">
        energon_limit,
      </if>
      <if test="energonPrice != null">
        energon_price,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="nonce != null">
        nonce,
      </if>
      <if test="transactionIndex != null">
        transaction_index,
      </if>
      <if test="txReceiptStatus != null">
        tx_receipt_status,
      </if>
      <if test="actualTxCost != null">
        actual_tx_cost,
      </if>
      <if test="txType != null">
        tx_type,
      </if>
      <if test="chainId != null">
        chain_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="input != null">
        `input`,
      </if>
      <if test="failReason != null">
        fail_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hash != null">
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="blockNumber != null">
        #{blockNumber,jdbcType=BIGINT},
      </if>
      <if test="blockHash != null">
        #{blockHash,jdbcType=VARCHAR},
      </if>
      <if test="from != null">
        #{from,jdbcType=VARCHAR},
      </if>
      <if test="to != null">
        #{to,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="energonUsed != null">
        #{energonUsed,jdbcType=VARCHAR},
      </if>
      <if test="energonLimit != null">
        #{energonLimit,jdbcType=VARCHAR},
      </if>
      <if test="energonPrice != null">
        #{energonPrice,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="nonce != null">
        #{nonce,jdbcType=VARCHAR},
      </if>
      <if test="transactionIndex != null">
        #{transactionIndex,jdbcType=INTEGER},
      </if>
      <if test="txReceiptStatus != null">
        #{txReceiptStatus,jdbcType=INTEGER},
      </if>
      <if test="actualTxCost != null">
        #{actualTxCost,jdbcType=VARCHAR},
      </if>
      <if test="txType != null">
        #{txType,jdbcType=VARCHAR},
      </if>
      <if test="chainId != null">
        #{chainId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="input != null">
        #{input,jdbcType=LONGVARCHAR},
      </if>
      <if test="failReason != null">
        #{failReason,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platon.browser.dao.entity.TransactionExample" resultType="java.lang.Long">
    select count(*) from transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update transaction
    <set>
      <if test="record.hash != null">
        hash = #{record.hash,jdbcType=VARCHAR},
      </if>
      <if test="record.blockNumber != null">
        block_number = #{record.blockNumber,jdbcType=BIGINT},
      </if>
      <if test="record.blockHash != null">
        block_hash = #{record.blockHash,jdbcType=VARCHAR},
      </if>
      <if test="record.from != null">
        `from` = #{record.from,jdbcType=VARCHAR},
      </if>
      <if test="record.to != null">
        `to` = #{record.to,jdbcType=VARCHAR},
      </if>
      <if test="record.timestamp != null">
        `timestamp` = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.energonUsed != null">
        energon_used = #{record.energonUsed,jdbcType=VARCHAR},
      </if>
      <if test="record.energonLimit != null">
        energon_limit = #{record.energonLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.energonPrice != null">
        energon_price = #{record.energonPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null">
        `value` = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.nonce != null">
        nonce = #{record.nonce,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionIndex != null">
        transaction_index = #{record.transactionIndex,jdbcType=INTEGER},
      </if>
      <if test="record.txReceiptStatus != null">
        tx_receipt_status = #{record.txReceiptStatus,jdbcType=INTEGER},
      </if>
      <if test="record.actualTxCost != null">
        actual_tx_cost = #{record.actualTxCost,jdbcType=VARCHAR},
      </if>
      <if test="record.txType != null">
        tx_type = #{record.txType,jdbcType=VARCHAR},
      </if>
      <if test="record.chainId != null">
        chain_id = #{record.chainId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.input != null">
        `input` = #{record.input,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.failReason != null">
        fail_reason = #{record.failReason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update transaction
    set hash = #{record.hash,jdbcType=VARCHAR},
      block_number = #{record.blockNumber,jdbcType=BIGINT},
      block_hash = #{record.blockHash,jdbcType=VARCHAR},
      `from` = #{record.from,jdbcType=VARCHAR},
      `to` = #{record.to,jdbcType=VARCHAR},
      `timestamp` = #{record.timestamp,jdbcType=TIMESTAMP},
      energon_used = #{record.energonUsed,jdbcType=VARCHAR},
      energon_limit = #{record.energonLimit,jdbcType=VARCHAR},
      energon_price = #{record.energonPrice,jdbcType=VARCHAR},
      `value` = #{record.value,jdbcType=VARCHAR},
      nonce = #{record.nonce,jdbcType=VARCHAR},
      transaction_index = #{record.transactionIndex,jdbcType=INTEGER},
      tx_receipt_status = #{record.txReceiptStatus,jdbcType=INTEGER},
      actual_tx_cost = #{record.actualTxCost,jdbcType=VARCHAR},
      tx_type = #{record.txType,jdbcType=VARCHAR},
      chain_id = #{record.chainId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      `input` = #{record.input,jdbcType=LONGVARCHAR},
      fail_reason = #{record.failReason,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update transaction
    set hash = #{record.hash,jdbcType=VARCHAR},
      block_number = #{record.blockNumber,jdbcType=BIGINT},
      block_hash = #{record.blockHash,jdbcType=VARCHAR},
      `from` = #{record.from,jdbcType=VARCHAR},
      `to` = #{record.to,jdbcType=VARCHAR},
      `timestamp` = #{record.timestamp,jdbcType=TIMESTAMP},
      energon_used = #{record.energonUsed,jdbcType=VARCHAR},
      energon_limit = #{record.energonLimit,jdbcType=VARCHAR},
      energon_price = #{record.energonPrice,jdbcType=VARCHAR},
      `value` = #{record.value,jdbcType=VARCHAR},
      nonce = #{record.nonce,jdbcType=VARCHAR},
      transaction_index = #{record.transactionIndex,jdbcType=INTEGER},
      tx_receipt_status = #{record.txReceiptStatus,jdbcType=INTEGER},
      actual_tx_cost = #{record.actualTxCost,jdbcType=VARCHAR},
      tx_type = #{record.txType,jdbcType=VARCHAR},
      chain_id = #{record.chainId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.browser.dao.entity.TransactionWithBLOBs">
    update transaction
    <set>
      <if test="blockNumber != null">
        block_number = #{blockNumber,jdbcType=BIGINT},
      </if>
      <if test="blockHash != null">
        block_hash = #{blockHash,jdbcType=VARCHAR},
      </if>
      <if test="from != null">
        `from` = #{from,jdbcType=VARCHAR},
      </if>
      <if test="to != null">
        `to` = #{to,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        `timestamp` = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="energonUsed != null">
        energon_used = #{energonUsed,jdbcType=VARCHAR},
      </if>
      <if test="energonLimit != null">
        energon_limit = #{energonLimit,jdbcType=VARCHAR},
      </if>
      <if test="energonPrice != null">
        energon_price = #{energonPrice,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="nonce != null">
        nonce = #{nonce,jdbcType=VARCHAR},
      </if>
      <if test="transactionIndex != null">
        transaction_index = #{transactionIndex,jdbcType=INTEGER},
      </if>
      <if test="txReceiptStatus != null">
        tx_receipt_status = #{txReceiptStatus,jdbcType=INTEGER},
      </if>
      <if test="actualTxCost != null">
        actual_tx_cost = #{actualTxCost,jdbcType=VARCHAR},
      </if>
      <if test="txType != null">
        tx_type = #{txType,jdbcType=VARCHAR},
      </if>
      <if test="chainId != null">
        chain_id = #{chainId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="input != null">
        `input` = #{input,jdbcType=LONGVARCHAR},
      </if>
      <if test="failReason != null">
        fail_reason = #{failReason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.platon.browser.dao.entity.TransactionWithBLOBs">
    update transaction
    set block_number = #{blockNumber,jdbcType=BIGINT},
      block_hash = #{blockHash,jdbcType=VARCHAR},
      `from` = #{from,jdbcType=VARCHAR},
      `to` = #{to,jdbcType=VARCHAR},
      `timestamp` = #{timestamp,jdbcType=TIMESTAMP},
      energon_used = #{energonUsed,jdbcType=VARCHAR},
      energon_limit = #{energonLimit,jdbcType=VARCHAR},
      energon_price = #{energonPrice,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR},
      nonce = #{nonce,jdbcType=VARCHAR},
      transaction_index = #{transactionIndex,jdbcType=INTEGER},
      tx_receipt_status = #{txReceiptStatus,jdbcType=INTEGER},
      actual_tx_cost = #{actualTxCost,jdbcType=VARCHAR},
      tx_type = #{txType,jdbcType=VARCHAR},
      chain_id = #{chainId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      `input` = #{input,jdbcType=LONGVARCHAR},
      fail_reason = #{failReason,jdbcType=LONGVARCHAR}
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.browser.dao.entity.Transaction">
    update transaction
    set block_number = #{blockNumber,jdbcType=BIGINT},
      block_hash = #{blockHash,jdbcType=VARCHAR},
      `from` = #{from,jdbcType=VARCHAR},
      `to` = #{to,jdbcType=VARCHAR},
      `timestamp` = #{timestamp,jdbcType=TIMESTAMP},
      energon_used = #{energonUsed,jdbcType=VARCHAR},
      energon_limit = #{energonLimit,jdbcType=VARCHAR},
      energon_price = #{energonPrice,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR},
      nonce = #{nonce,jdbcType=VARCHAR},
      transaction_index = #{transactionIndex,jdbcType=INTEGER},
      tx_receipt_status = #{txReceiptStatus,jdbcType=INTEGER},
      actual_tx_cost = #{actualTxCost,jdbcType=VARCHAR},
      tx_type = #{txType,jdbcType=VARCHAR},
      chain_id = #{chainId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
</mapper>